[2016-03-08 16:50] ocefpaf opened #2 "Test the drivers"
Add a test that checks the compiled drivers against an expected driver list.

[2016-03-09 13:41] kmuehlbauer opened #3 "GDAL > 2.0.0"
Is there a gdal2 feedstock somewhere, or in planning. I'm trying to set this up locally, but with condaforge it seems much nicer.

[2016-03-09 13:47] ocefpaf commented on #3
There is no planning right now.  We added the gdal 1.x series because of `fiona` and `rasterio`.  What are the short comings of the default channel gdal 2?  I can help you set a feedstock if you want to be the maintainer of such a package.

[2016-03-09 13:56] kmuehlbauer commented on #3
The problem is with gdal dependencies not met in default channel.

I need gdal with libhdf5, libnetcdf, libgeos but python27 and python34 have no geos available in the default channel. Only python35 does. Few days before things worked like charm within miniconda/travis for all three but now... broken.

My knowledge of conda and recipes is quite limited. If adapting the https://github.com/conda/con

[2016-03-09 14:03] ocefpaf commented on #3
Awesome!  That is exactly what conda-forge is all about. Although, the long-tem goal is to fold those back into the default channel! Ping @msarahan and @pelson.

No problem.  The starting point is to send a PR to https://github.com/conda-forge/staged-recipes/tree/master/recipes. We can move this thread there once you set a first draft of your PR.

[2016-03-09 14:25] kmuehlbauer commented on #3
OK, so I fork the linked repo and add the recipe? I just check everything locally...

[2016-03-09 14:26] ocefpaf commented on #3
Yes.  I will help you from there. Once we have a working PR we merge it and the feedstock will be automatically created.

[2016-03-09 14:55] pelson commented on #3
Actually @ocefpaf, I'm kind of wondering whether to make a 1.x and a 2.x branch in this feedstock. There are a few places I've not even started looking at branches properly in the automation, but it has always been my intention to allow such a thing (think py2 and py3). It might make sense to start with something less big than GDAL, but certainly sounds like a sensible use-case.

[2016-03-09 16:08] ocefpaf commented on #3
Makes sense.  I jumped the gun sending @kmuehlbauer to staged-recipes in an attempt to attract more maintainers by showing them the workflow to submit a recipe.

Maintaining different versions of the same package will be a challenge. (But hopefully we can avoid te udunits vs udunits2 naming problem :wink:)

[2016-03-09 16:18] kmuehlbauer commented on #3
@ocefpaf No problem on my side. How is this going further now?

[2016-03-09 16:27] ocefpaf commented on #3
Here is what I suggest we do:

- wait for @pelson on his branch plan to keep two different versions side-by-side.(He is away until next thought.)
- while we wait for him we can work on this PR to get it in shape (get it to compile in all CIs).  Even if we close this PR we will use this recipe.

That won't give you a package to test tomorrow, sorry. Are you OK with that plan?

[2016-03-09 16:33] kmuehlbauer commented on #3
@ocefpaf That's fine. I think the linux64 version on travis compiles already, but has stopped due to long logfile. Having a look into it tomorrow.

[2016-03-09 16:35] ocefpaf commented on #3
Travis-CI is our "OS X."

Don't worry about that. I haven't find a solution for this yet.  If one of the gdal's got built the test will too and we can re-start the Travis-CI until they are all uploaded.

[2016-03-09 19:05] pelson commented on #3
@ocefpaf - a PR which updates the feedstock can be proposed (and CI systems can cycle). Once happy, instead of merging, put the proposed branch onto this feedstock. Shouldn't need anything from me for that.

I'd go for it, and I'll have to fix anything that comes out of it (it can't be too bad, right? [otherwise it is a pretty fragile system] :wink: )

[2016-03-09 19:21] ocefpaf commented on #3
And here I thought you would come with another conda-bot to this :wink:

@kmuehlbauer Let's do that!

[2016-03-10 07:41] kmuehlbauer commented on #3
Sure, so it will be another branch of the existing gdal-feedstock?

[2016-03-10 09:28] pelson commented on #3
Exactly. In order to make sure it is doing what you want, I'd propose a PR which moves everything up to vn2, and once everything goes green, we don't merge it but create a new branch from it *on this feedstock*.

:+1:

[2016-03-10 09:47] kmuehlbauer commented on #3
@pelson So I fork from here and make the changes for version2. Then I can close this pr conda-forge/staged-recipes#82, correct?

[2016-03-10 09:57] pelson commented on #3
Yep. If you're happy to do that, that would be awesome. Fork from this repo :+1: .

[2016-03-10 10:00] kmuehlbauer commented on #3
#5 here we go

[2016-03-14 19:46] kmuehlbauer commented on #3
@ocefpaf Thanks for merging. But we have to review the dependencies:

[code]
conda version is 4.0.4

Dependencies for kealib:

[code]

I did not manage to force-install gdal 2.0.2. Is this circular `kealib`-dependency correct?

[2016-03-14 20:16] ocefpaf commented on #3
I believe that `kealib` from the `default` channel does not have that dependency on `gdal` because `conda install -c conda-forge gdal==2.0.2` worked for me.

Note that you are installing the one from `osgeo`. I am not sure that `kealib` does depend on `gdal` can you check that?

[2016-03-14 20:23] groutr commented on #3
Thought I would pop in here.  I've maintained the gdal stack in the past.
@ocefpaf, you're correct.  `kealib` from `default` only has a runtime dependency on hdf5.

[2016-03-14 20:25] kmuehlbauer commented on #3
I'm a bit confused now... I removed the osgeo channel from `.condarc` and it worked. Thanks @ocefpaf I didn't look at the channel.

[2016-03-14 20:28] kmuehlbauer commented on #3
Yes, it works now, was an issue with the osgeo channel. I'll test all the 2.0.2 linux packages later.

[2016-03-14 20:31] ocefpaf commented on #3
Thanks for the info @grout. @kmuehlbauer can we close the issue?

[2016-03-14 20:34] kmuehlbauer commented on #3
Yes, issue resolved! Thanks @ocefpaf and @pelson for the guidance and help. I hope that the windows version pop up when appveyor did it.

[2016-03-14 20:35] #3 closed

[2016-03-14 21:46] ocefpaf commented on #3
AppVeyor is slow. We need to check again tomorrow and, if the files are not there, we might need to re-start it.

[2016-03-15 07:32] ocefpaf opened #8 "Build for Windows + Python 3.5"
We are currently skipping that build.

[2016-03-15 08:21] pelson commented on #3
Thanks to @kmuehlbauer & @ocefpaf for working on this.
@groutr - are you interested in becoming a maintainer of this recipe along with @kmuehlbauer and @ocefpaf? Your experience would really be a massive boon, and I'm hopeful that in time Continuum will be able to draw from this gdal feedstock as its canonical recipe.

:+1:

[2016-03-15 11:45] ocefpaf commented on #3
:+1:

[2016-03-16 06:38] kmuehlbauer opened #10 "gdal2 branch windows packages not uploaded"
If this is the same as in conda-forge/wradlib-feedstock#5 I could issue the necessary PR.

[2016-03-16 07:20] pelson commented on #10
Just needs #4 to be merged I think.

[2016-03-16 07:27] kmuehlbauer commented on #10
@pelson Is there any guideline within conda-forge, when to merge such adminstrative stuff. Also the mentioned pr is directed into master branch not gdal2 branch. Wow do we deal with it? Merge into master and then add then apply the changes also to gdal2 branch?

[2016-03-16 08:01] pelson commented on #10
Aha! Yes, I'd forgotten. This was/is the first feedstock to have multiple branches - some of the administrative stuff won't handle multiple branches yet, I need to catch up on those cases. In the meantime, yes, I think it is wise to apply the changes from #4 into the gdal2 branch - can this be achieved cleanly by merging master into the gdal2 branch?

[2016-03-16 08:33] kmuehlbauer commented on #10
If the two branches diverge more and more, it can be very problematic to apply automatic changes. I have just tried to create a PR from conda-forge-admin/gdal-feedstock:feedstock-renderer directly to conda-forge/gdal-feedstock:gdal2. This would work.

If  #4 is merged before, we could try to do this pr from master to gdal2 branch. If this doesn't work out, then we can merge from conda-forge-admin.

[2016-03-16 08:40] pelson commented on #10
Yep. Sounds sensible to me @kmuehlbauer. You have merge rights on this repo, so give it a shot! :+1:

[2016-03-16 08:49] kmuehlbauer commented on #10
@pelson To get this right, we merge #4 now and then apply the changes to gdal2-branch.

[2016-03-16 08:52] pelson commented on #10
Yep.

As in:

[code]

[2016-03-16 09:07] kmuehlbauer commented on #10
@pelson Now we have this pr here #11. I hope, it's OK that way.

[2016-03-16 09:09] pelson commented on #10
LGTM. Keep an eye on conda-forge channel on anaconda.org, and I suspect we can close this with no further work. :+1:

[2016-03-17 11:12] kmuehlbauer commented on #10
FYI: The four windows python27 versions are uploaded, ... finally.

[2016-03-17 14:10] pelson commented on #10
Phew :sweat: - we're putting AppVeyor through its paces :smile:

[2016-03-17 14:18] kmuehlbauer commented on #10
If at first you don't succeed... :sunglasses:

[2016-03-17 14:19] pelson commented on #10
So we can close this issue now?

[2016-03-17 14:21] kmuehlbauer commented on #10
Yes.

[2016-03-17 14:21] #10 closed

[2016-03-26 22:58] nickeubank opened #16 "Having issues installing fiona from conda-forge, looks related to conda-forge gdal install"
Can't seem to get a working `conda` build of fiona in a development environment in osx (works fine in root environment). I *think* it's a gdal issue. Here's the output:

    conda create -y --name test_fiona3 python=3.4
    Fetching package metadata: ....
    Solving package specifications: .........

    Package plan for installation in environment /Users/Nick/anaconda/envs/test_fiona3:

    The

[2016-03-26 23:20] pelson commented on #16
Looking at it, I think the correct location is probably the fiona feedstock, but let's wait to see if we can get a resolution before closing this.

[2016-03-27 18:26] ocefpaf commented on #16
@nickeubank I believe this was sorted out. Please let us know if you find any issues with the GIS software stack in conda-forge.

[2016-03-27 18:26] #16 closed

[2016-03-27 22:47] ocefpaf opened #20 "HDF 4 on Windows need features"
@gillins:

[2016-03-27 22:49] ocefpaf opened #21 "Link gdal to jpeg and zlib on Windows"
@gillins:

- [X] [`jpeg`](https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/bld.bat#L56-L58)
- [ ] `zlib`

[2016-03-31 19:37] mhearne-usgs opened #23 "gdalwarp missing libjson library..."
Mac OS 10.10.5
conda 4.0.5
conda create --name py3exp python=3 -y
source activate py3exp

Then I run the following shell script:

[code]

and I get the following error:

dyld: Library not loaded: /usr/local/lib/libjson-c.2.dylib
  Referenced from: /Users/mhearne/anaconda/envs/py3exp/bin/gdalwarp
  Reason: image not found
testwarp.sh: line 6: 19723 Trace/BPT trap: 5       gdalwarp -s_srs "+proj=lat

[2016-03-31 23:17] ocefpaf commented on #23
@mhearne-usgs I am afraid we are opening a can or worms here (meaning more missing dependencies that are masked due to the Travis-CI OS X image we are using.). I will ping you as soon as the new binaries are in the channel for further tests.  Thanks for reporting this.

[2016-04-03 06:36] gillins opened #25 "Failing to compile on Windows with latest hdf5 (1.8.16)"
I get the errors below with conda-forge's hdf5. I've logged it here as the symbols are in fact exported in the lib/dll so likely to be a weird include problem inside GDAL.

[code]

[2016-04-03 12:54] ocefpaf commented on #23
@mhearne-usgs the new binaries are in the [channel](http://anaconda.org/conda-forge/gdal/files). Let us know if that solves the problem for you.

[2016-04-03 17:25] mhearne-usgs commented on #23
conda create --name py3exp python=3
conda install -c conda-forge gdal

which gdalwarp
/Users/mhearne/anaconda/envs/py3exp/bin/gdalwarp

And here's the output from the important line of my test script:

gdalwarp -s_srs "+proj=latlong" -t_srs "$proj4" -of EHdr grid.asc grid.flt
dyld: Library not loaded: /usr/local/lib/libjson-c.2.dylib
  Referenced from: /Users/mhearne/anaconda/envs/py3exp/bin/gdalw

[2016-04-03 17:35] ocefpaf commented on #23
Can you send me the output of `conda list` so I can see what release you got there.

[2016-04-03 17:38] ocefpaf commented on #23
Try this too:

[code]

and then run your script. (I maintain `gdal` 1.11.4. If my solution work I will port that to `gdal` 2)

[2016-04-03 17:43] mhearne-usgs commented on #23
Results of conda list, trying second suggestion now:

# packages in environment at /Users/mhearne/anaconda/envs/py3exp:
#
curl                      7.45.0                        0    defaults
gdal                      2.0.2               np110py35_1    conda-forge
geos                      3.4.2                         1    conda-forge
hdf4                      4.2.11                        0    d

[2016-04-03 17:48] ocefpaf commented on #23
As I suspected you had gdal 2 installed. Sorry for not letting you know that first. As soon as we can confirm that my solution works I will port that to the gdal 2 branch.

[2016-04-03 17:49] mhearne-usgs commented on #23
libjson bug is gone, but now I get:

gdalwarp -s_srs "+proj=latlong" -t_srs "$proj4" -of EHdr grid.asc grid.flt

ERROR 4: `grid.asc' not recognised as a supported file format.

[2016-04-03 17:57] ocefpaf commented on #23
I got that when adapting your script. I modified it to look like this and
it worked:

https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/run_test.sh

If you google that error you'll see some other issues related, but I am not
a gdal expert to comment. Package wise it looks that the issue is resolved.
I will send this to the gdal2 soon.
Em 03/04/2016 14:49, "Mike Hearne" <notification

[2016-04-04 14:27] mhearne-usgs commented on #23
I am now trying to merge the issues I've had with gdal, fiona, and hdf into a single install script.  What I have below fails on the gdalwarp test.  I'm willing to bet that there is a workaround, I just can't figure out what it is...

#!/bin/sh

#try to install everything I need
source activate root
conda remove --name shake --all -y
conda create --name shake --yes --channel conda-forge python=3 h

[2016-04-05 09:57] ocefpaf commented on #23
This worked for me:

[code]

Note that I am pinning gdal to a specific release (before the new `hdf5` was introduced). The real solution is to get our netCDF out there ASAP, but we are low on resources right...

PS: If you want another Python or numpy version change the string `np110py35_0`, but always keep the `0` as that is the one compiled against the old `hdf5`.

[2016-04-05 09:57] #23 closed

[2016-04-05 10:08] ocefpaf commented on #23
BTW maybe you made that script just to test this issue, but if you ever have the need to create an `env` inside a script take a look at [conda-execute](https://github.com/pelson/conda-execute).

[2016-04-05 15:02] mhearne-usgs commented on #23
I ran the below modified version of your script, and got the following errors:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/mhearne/anaconda/envs/TEST/lib/python3.5/site-packages/h5py/__init__.py", line 24, in <module>
    from . import _errors
ImportError: dlopen(/Users/mhearne/anaconda/envs/TEST/lib/python3.5/site-packages/h5py/_errors.cpython-35m-darw

[2016-04-05 15:04] ocefpaf commented on #23
Now we are between a rock and a hard place :smiley:

On OS X you need the latest build, but the latest build will break due to `netcdf`. I am planning on fixing all the related builds to the old `hdf5` until we fix this.  Hold  on...

[2016-04-05 15:09] mhearne-usgs commented on #23
Getting the gdal command line tools will ultimately be important, but the libraries (libgdal, h5py, fiona, etc.) are much more useful right now.  So, don't kill yourself trying to fix this particular issue quickly on my account.

[2016-04-05 15:12] ocefpaf commented on #23
Don't worry. Most of the IOOS users (that I have to support) are interested into that stack. It is first priority to get that working to end the channel migration :wink:

[2016-04-05 19:28] ocefpaf opened #28 "Use libxml2 and libspatialite on OS X"
I am not using `libxml2` and `libspatialite` on OS X because of https://github.com/conda-forge/gdal-feedstock/pull/27#issuecomment-205920818

[2016-04-06 11:02] ocefpaf commented on #23
@mhearne-usgs I rebuilt everything using `hdf5 1.8.15.1` (compatible with the default channel's `libnetcdf`) and `gdal 1.11.4` to avoid issues when installing `fiona` together with other software that uses `gdal`. That should give you some stability as long as conda doesn't upgrade your `hdf5`, which you can downgrade manually in case it happens.

The only library I did not pin to the older `hdf5`

[2016-04-07 15:41] jjhelmus opened #33 "libgdal.20.dylib links againsty Homebew libraries on OS X"
The libgdal.20.dylib library shipped in 2.0.2 build 2 conda package links again Homebrew libraries which are not guaranteed to available on a user's system (and are not on my systems which uses MacPorts).  On systems without these libraries gdal is not importable.

[code]

Libraries in /usr/local/... are from Homebrew.

[2016-04-07 15:55] ocefpaf commented on #33
The latest build number(`4`) should correct that. Can you take a look?

[2016-04-07 15:57] jjhelmus commented on #33
Is there a version 2.0.2 build 4 for OS X?  I'm not seeing it on Anaconda.org

[2016-04-07 16:00] jjhelmus commented on #33
gdal-1.11.4-np111py35_4.tar.bz2 still seems to link against Homebrew libraries

[code]

[2016-04-07 16:00] ocefpaf commented on #33
Nope, that is for gdal 1. But the PR was merged a few moments ago and I notice that the build number was not bumped.

https://github.com/conda-forge/gdal-feedstock/pull/31/files

[2016-04-07 16:02] pelson commented on #33
Oh man! Does that mean more waiting for AppVeyor? GDAL is a killer 😄

[2016-04-07 16:02] ocefpaf commented on #33
Let me bump the build number on `gdal 2`.  Now that I remember I haven't merge https://github.com/conda-forge/gdal-feedstock/pull/32 yet, so the homebrew fix  is not available for `gdal 1`.

[2016-04-07 16:02] ocefpaf commented on #33
We can merge `gdal 2` bump right away :wink:

[2016-04-07 16:09] ocefpaf commented on #33
@jjhelmus as soon as the binaries from #34 are up can you take a look and close this?

[2016-04-07 16:11] jjhelmus commented on #33
Will do.

[2016-04-07 18:03] jjhelmus commented on #33
Pulled the conda-forge gdal `np110py27_3` package and it looks to be free from Homebrew libraries.  I am able to import gdal fine on my system which uses MacPorts.  Unfortunately, numpy 1.10, Python 2.7 seems to be the only [Travis CI setup that got uploaded](https://travis-ci.org/conda-forge/gdal-feedstock/builds/121468082) because of conda-forge being [over its storage limit](https://travis-ci.o

[2016-04-07 18:10] ocefpaf commented on #33
I am wiping all the `gdal` binaries and rebuilding them. All previous ones had the `homebrew` contamination anyways.

[2016-04-07 19:55] jjhelmus commented on #33
Build `3` seems to be available on OS X for most version of Python and is working without Homebrew.  Closing issue.  Thanks for the quick fix!

[2016-04-07 19:55] #33 closed

[2016-04-07 19:56] ocefpaf commented on #33
The rest is slowly making their way to the channel. Thanks for testing.

[2016-04-14 06:04] pelson opened #35 "Remove the need for the GDAL_DATA environment variable"
It is causing us to have to [workaround](https://github.com/conda-forge/staged-recipes/pull/159/files#r59058552) the problem elsewhere, and would be nice to avoid if possible (even if it means a patch).

Not a huge priority, but it would be helpful to keep a list of places that the GDAL_DATA information has leaked out of this feedstock:

 * https://github.com/conda-forge/staged-recipes/pull/159/fi

[2016-04-14 07:07] gillins commented on #35
Do we know why this isn't set in the _test environment? Should it be fixed in conda instead?
There must be other packages that have the same problem (ie requiring an environment variable to be set).

[2016-04-14 10:22] ocefpaf commented on #35
I just checked a fresh install and I notice that we have a bug

[code]

That directory does not exist. I will take a closer look at this.

[2016-04-15 05:52] gillins commented on #35
Seems fine for me. Do you have $GDAL_DATA set outside of Conda? The activate script won't change it if you have (perhaps it should?).

[2016-04-15 10:50] ocefpaf commented on #35
Nope. As you can see installed `gdal=1.11.4`, but the env var is pointing to `libgdal-2.0.0`.

[2016-04-15 21:00] snorfalorpagus opened #36 "libjpeg dependency on OS X"
When installing fiona in a fresh environment on OS X libjpeg 8d-1 is pulled down as a dependency by GDAL. But when the module is imported an `ImportError` is raised. It looks like GDAL was linked against libjpeg 9. Manually upgrading to version 9 seems to resolve the issue. I'm not sure why 8 gets installed in the first place.

[code]
Update libjpeg:
[code]

[2016-04-15 22:35] ocefpaf commented on #36
@snorfalorpagus  we just updated our `jpeg` package. I will trigger the rebuilds to get rid of the issue. Hold on...

[2016-04-16 06:00] gillins commented on #35
On my machine I get a different result:
`conda create --name GDAL1 --channel conda-forge python=3.5 gdal=1.11.4
source activate GDAL1
echo $GDAL_DATA
/home/sam/miniconda3/envs/GDAL1/etc/conda/activate.d/../../../share/gdal
conda create --name GDAL2 --channel conda-forge python=3.5 gdal=2.0.2
source activate GDAL2
echo $GDAL_DATA
/home/sam/miniconda3/envs/GDAL2/etc/conda/activate.d/../../../share/g

[2016-04-16 09:27] pelson commented on #36
Another situation where https://github.com/conda/conda-build/pull/747 would hugely help.

[2016-04-16 18:25] ocefpaf commented on #35
I was going to answer: I never set variables in my `~/.zshrc`! But it seems that I forgot this

[code]

since last SciPy and the geo-processing tutorial!

So... Sorry :flushed:

@pelson I guess `GDAL` is OK setting the env var. The problem is really conda and the `_test` env.

[2016-04-16 18:25] #35 closed

[2016-04-18 22:12] ocefpaf commented on #8
Solved in #29

[2016-04-18 22:12] #8 closed

[2016-04-18 22:13] ocefpaf commented on #2
Donein #29

[2016-04-18 22:13] #2 closed

[2016-04-18 22:46] ocefpaf commented on #25
I believe that we need to copile our `libnetcdf` first. We must pin hdf5 to 1.8.15.1 until then.

[2016-04-19 12:51] ocefpaf commented on #28
This is working now on #37

[2016-04-19 12:51] #28 closed

[2016-04-19 13:41] ocefpaf commented on #20
Our version is up and has features enabled.

[2016-04-19 13:41] #20 closed

[2016-04-19 16:43] mhearne-usgs commented on #23
@ocefpaf I went away from this for a while, but came back and tried the above script, and got the following errors:

dyld: Library not loaded: @rpath/libtiff.5.dylib
  Referenced from: /Users/mhearne/anaconda/envs/TEST/bin/gdalwarp
  Reason: Incompatible library version: gdalwarp requires version 8.0.0 or later, but libtiff.5.dylib provides version 7.0.0
./testme.sh: line 27: 80976 Trace/BPT trap:

[2016-04-19 19:59] ocefpaf commented on #23
@mhearne-usgs a lot has changed since you've been gone :smile:

We are re-building the `gdal` stack from the ground up and, hopefully, we will have a working version (for `Python 2.7 and 3.4`) tomorrow.

Python 3.5 is still on hold due to a `libzma` mismatch, but soon that will be solved by https://github.com/conda-forge/staged-recipes/pull/370

[2016-04-20 21:14] #36 closed

[2016-04-20 21:19] ocefpaf opened #41 "Re-build gdal for Python 3.4 and 3.5"
Currently we have the following dependencies pulling our latest `xz`:

`openjpeg` &rarr; `libtiff` &rarr; `xz`

`libspatialite` &rarr; `libxml2` &rarr; `xz`

and our `xz 5.2.2` is a no-no in `Python 3.4.4` and `Python 3.5`. (It is OK on Python 3.4.1 though.)

To work around that I added the following lines to our recipe:

https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/meta.yaml#L

[2016-04-27 00:16] michaelaye opened #46 "ISIS3/USGS driver problem"
This version (or maybe only this compile) suffers from a recently popping up problem with USGS ISIS3 cube files. It was previously seen years ago, when it was suggested that it can happen from an unclean compile, see here for a discussion:
https://lists.osgeo.org/pipermail/gdal-dev/2009-September/022101.html

Symptom: Opening an USGS ISIS cube errors with:
[code]
while this driver is well supporte

[2016-04-27 00:37] ocefpaf commented on #46
Hard one to debug... There is no obvious information in that e-mail thread to help me solve this. The main difference between `gdal` from conda-forge  and the default is the fact that we link against some external libraries, like `giflib`, instead of using `gdal`'s internal version.

I will perform some test tomorrow, but if that is the reason I am puzzled to why `gdal` allows external linking and

[2016-04-27 00:38] michaelaye commented on #46
and there's no way the compile of conda-forge's gdal was `dirty` by chance?

[2016-04-27 00:47] gillins commented on #46
Are you using GDAL 1.x or 2.x? Someone once reported the exact same problem to me, turned out it was a bug introduced in 1.11.3 (or was is 1.11.4?) but fixed in other versions.

[2016-04-27 00:49] michaelaye commented on #46
All versions are the newest offered per source of package, which is for conda-forge 2.0.2 and for conda's default channel 2.0.0.

[2016-04-27 01:03] gillins commented on #46
I just checked with a build I did on my own PC and same problem (and that should be clean). Would be interesting to see if the upcoming GDAL 2.1.0 release has the same problem.

[2016-04-27 01:05] gillins commented on #46
Hang on a moment - the `gdal2` branch does not use giflib (one of the things I mean to sync between the 2). So I don't think this is the problem.

[2016-04-27 01:06] ocefpaf commented on #46
Not sure you mean by *dirty* as external source for the libs is fair game in `gdal` compilation. Otherwise they sould not look for them at build time and just use the internal ones.

I suspect `giflib` is the culprit. See #47 for a possible fix.

[2016-04-27 01:09] ocefpaf commented on #46
Indeed... I will look at this again with fresh eyes tomorrow. (BTW the Windows builds do not suffer from this!)

[2016-04-27 02:34] gillins commented on #46
Just confirmed that this still happens with GDAL 2.1.0 RC4. I'm a bit baffled.
Weird that it doesn't happen on Windows.

[2016-04-27 04:02] gillins commented on #46
OK I found that if you remove --without-pam from the configure step it all works fine. This would explain the difference on Windows - that build has PAM (persistent auxiliary metadata) enabled.
I'm not sure what this means. Does anyone know why PAM was disabled in this build?

[2016-04-27 05:56] ceholden commented on #46
Aha! I tracked down the issue to PAM being disabled as well and can confirm rebuilding without PAM disabled fixes it. I'm not quite sure what is different about the Planetary Data System (PDS) drivers as they're the only file format included in the [GDAL test data examples](http://download.osgeo.org/gdal/data/) that conda-forge's build supports that complained when `GDAL_PAM_ENABLED=NO`. None of t

[2016-04-27 06:41] michaelaye commented on #46
Nice work! So, I'm curious then why it currently is working on conda's GDAL? Did somebody deliberate remove the disabling of PAM? Or is that build not inherited from the IOOS recipe?
Btw, your first paragraph must confuse at some point the YES and NO, I think? Do you mean that the PDS driver doesn't like PAM to be enabled?

[2016-04-27 07:05] ceholden commented on #46
Thanks for the clarifying question -- hopefully my edit is more clear. I just meant that there were no additional problems caused by enabling GDAL to use PAM when running `gdalinfo` against the test data files.

The [official conda recipe for GDAL](https://github.com/conda/conda-recipes/blob/master/gdal/build.sh) differs from conda-forge's because they don't pass `--disable-pam` to the configure s

[2016-04-27 07:22] ceholden commented on #46
I missed one of your questions -- you can force the default/official conda build of GDAL to produce the same errors by disabling PAM via the environment variable:

[code]

[This section of the `GDALPamDataset` class (which the ISIS3 format inherits from)](https://github.com/OSGeo/gdal/blob/bca12f7655fac8bc2734c1a8af1cad4f272450ac/gdal/gcore/gdalpamdataset.cpp#L270) describes this behavior. It's ba

[2016-04-27 09:40] ocefpaf commented on #46
Thw `--without-pam` was in the original recipe from OSGEO. (See http://anaconda.org/osgeo/gdal/1.11.4/download/osx-64/gdal-1.11.4-py34_1.tar.bz2)

Thanks @gillins and @ceholden for finding the issue! I am updating the #47 to reflect that.

[2016-04-27 10:21] gillins commented on #46
That recipe was actually from myself and @danclewley. We got annoyed with all the .xml files GDAL would create with PAM. Especially since the formats we used (HFA, KEA etc) already could handle all the information saved in PAM.
I'm guessing the right thing to do is to go back to the default GDAL behaviour (yes to PAM) if that fixes some drivers.
We can always override it in the users environment b

[2016-04-27 14:12] ocefpaf commented on #46
And we came full circle :wink:

Closing this as the issue can be addressed by setting `GDAL_PAM_ENABLED=YES`

(We are still discussing the what should be the default for the package though.)

[2016-04-27 14:12] #46 closed

[2016-04-29 18:40] groutr commented on #25
hmm...Not the only one getting this error I see. :)

[2016-04-30 00:44] jakirkham commented on #25
We should be pinning to HDF5 1.8.15.1, which is what this PR ( https://github.com/conda-forge/gdal-feedstock/pull/27 ) did. So can this now be closed or is this still an issue?

[2016-04-30 07:21] gillins commented on #25
Yep let's close it and see what happens when netcdf is upgraded.

[2016-04-30 07:21] #25 closed

[2016-05-02 21:31] groutr commented on #25
This issue can be resolved with the following patch (credit to Christoph Gohlke)
[code]

[2016-05-02 22:14] gillins commented on #25
Thanks @groutr! Same thing that tripped up kealib.
@ocefpaf - is netcdf still stuck with the older hdf? I suppose we need to update them both at the same time.

[2016-05-02 22:19] ocefpaf commented on #25
It is :unamused:

The bottle neck is the `curl` [recipe](https://github.com/conda-forge/staged-recipes/pull/378).

[2016-05-02 22:20] jakirkham commented on #25
Basically if we can get some Perl people to help us either package what we need or help us do some sort of hacky workaround that would be great. Then `curl` can move forward.

[2016-05-04 10:46] ocefpaf opened #51 "gdal 1 vs gdal 2 feedstock"
We are using these dependencies on `gdal 1.11.4` but not in `gdal 2.1.0`.

[code]

Edit:

Maybe we don't need this as we are using `openjpeg`.

[code]

[2016-05-06 02:37] gillins commented on #51
Do we need jasper if we already have openjpeg?

[2016-05-06 10:48] ocefpaf commented on #51
Probably not. I am not sure what is the preferred lib for `jpeg` (or if `gdal` is OK with both defined).

[2016-05-08 22:10] gillins commented on #51
I don't think jasper is maintained anymore...

[2016-05-09 11:03] ocefpaf commented on #51
That is true. My question is if there is any reason to keep building with it. I guess not!? I will prepare a PR to tackle this issue without `jasper` and let's see how it goes.

[2016-05-10 17:03] ritviksahajpal opened #53 "Unable to install gdal 1.11.4 through conda forge"
I am trying to install gdal 1.11.4 like this:
`conda install -c conda-forge gdal=1.11.4`

When I try to import gdal
`python -c 'import gdal'`

I get this error:
[code]

[2016-05-10 17:13] ocefpaf commented on #53
Both `jasper` and `gdal` are pinned to `jpeg 9*`, so I am not sure why the `jpeg.8` there.

Can you try the following commands for me:

[code]

If the import is not successful please copy and paste the results of the last two commands here so we can try to debug this.

[2016-05-10 17:41] ritviksahajpal commented on #53
ok, this works.

However, this is based on python3.4 whereas I am using python 2.7.11

Results from the last 2 commands are here:
[code]

--------
[code]

[2016-05-10 17:46] ritviksahajpal commented on #53
Hmm, when I repeat your steps using python 2.7.11 instead, it also works,

[code]

What am I doing wrong? Thank you so much for looking at this, really curious to see what is wrong with my setup.

[2016-05-10 18:09] ocefpaf commented on #53
All I can think of is that your previous env was had a different `gdal` and or a forced downgrade of `jpeg`.

[2016-05-10 18:15] kmuehlbauer commented on #53
@ritviksahajpal

Try to add (`conda install <package>`) the packages of your previous env one by one. This way you may find the package which caused `jpeg` to downgrade. It would be good to know for the maintainers here, if there is something outside that could cause trouble.

[2016-05-10 20:34] ocefpaf commented on #53
@ritviksahajpal this issue is due to the mixing of the default channel and conda-forge channel packages. There is not much we can do about it as we do need both most of the time! If you ever find the offending package that causes the downgrade please let us know.

Meanwhile I recommend you to use environments in your workflow, like the one above, that reduces the scope of the task and avoids this

[2016-05-10 20:34] #53 closed

[2016-05-11 01:10] ritviksahajpal commented on #53
Thanks @ocefpaf  and @kmuehlbauer , so I first got this error when I installed gdal using the conda-forge recipy. Somehow it did not play nice with the gdal I already had. Totally agree re using environments, will do that now.

[2016-05-11 15:53] jobar8 opened #54 "GDAL_DATA environment variable not set in Windows"
Hi,
I am working on Windows 10 and I have installed gdal using:
[code]
However, it does not set (or reset) GDAL_DATA. First, I had GDAL_DATA already defined from a previous installation, but it did not point to the right folder so my scripts did not work. Then I deleted it and re-installed gdal but that did not work either. The environment variable is not defined.

BTW, I am using Python 2.7 and A

[2016-05-11 16:04] ocefpaf commented on #54
@jobar8 I am not sure if the `GDAL_DATA` will be activated in a root installation of `gdal`. Can you try installing `gdal` in a separated env and test your script?

[code]

Note that you can change the python version there for the one you want (We have `gdal` for 2.7, 3.4 and 3.5 available in conda-forge).

[2016-05-11 17:48] jobar8 commented on #54
I have tried again with:
[code]

My script fails calling `point.Transform(coordTrans)` where point is a geometry and coordTrans is a CoordinateTransformation. I get the following error:

Everything is fine once I set GDAL_DATA manually.
Thanks.

[2016-05-11 17:51] ocefpaf commented on #54
I will take a look. To be honest I always set that manually, so I don't really know how efficient the activate/deactivate script are.

[2016-05-11 19:55] ritviksahajpal commented on #53
Ok, seems like the libjasper on my machine needs libjpeg8.x and libgdal needs libjpeg9.x.

[2016-05-11 19:57] ritviksahajpal commented on #53
seems to be related to https://github.com/conda-forge/jasper-feedstock/issues/2

[2016-05-11 19:59] ocefpaf commented on #53
We ship our own `jasper` compiled against `jpeg 9`. So if you are inside a conda env that should not be a problem.

[2016-05-11 20:43] ritviksahajpal commented on #53
thanks @ocefpaf , I have learnt the hard way and am using environments now. Everything is working now. thanks for the solution!

FYI, I found the package causing downgrade of libjpeg. It is iris (http://scitools.org.uk/iris/)

[2016-05-11 21:05] ocefpaf commented on #53
How are you installing `iris`? We added iris to conda-forge recently and, if that is downgrading `libjpeg` we should fix that!

[2016-05-11 21:52] ritviksahajpal commented on #53
I used the scitools channel: conda install -c scitools iris

[2016-05-11 21:57] ocefpaf commented on #53
`Tsc`, `tsc` @pelson :disappointed: who is taking care of scitools channel nowadays :wink:

@ritviksahajpal, jokes aside, the most up-to-date `iris` recipe is now in conda-forge.

PS: Fun fact `conda-forge` was born from the `scitools` channel.

[2016-05-11 22:03] gillins commented on #54
This is a known problem under Windows (see https://github.com/conda/conda-env/issues/218).

@msarahan - is there going to be a new conda release soon? This is bit unnerving for Windows users.

[2016-05-11 22:07] ritviksahajpal commented on #53
thanks @ocefpaf !

[2016-05-12 04:40] pelson commented on #53
Excellent question @ocefpaf. Truth be told, who is taking care of my own notifications (>1000 unread)? 😆

Looks to me that the scitools channel isn't pinning some of the dependencies correctly (not a surprise, since we only just starting pinning stuff correctly on conda-forge):

[code]

@ritviksahajpal - just for future reference, the output from https://github.com/conda-forge/gdal-feedstock/issue

[2016-05-12 05:38] ritviksahajpal commented on #53
thanks @pelson , this is helpful.

[2016-05-12 09:13] rhattersley commented on #53
:+1:

[2016-05-16 21:41] jakirkham opened #59 "Python 3.4 32-bit failing on Windows/AppVeyor"
Looks like GDAL builds are failing on Python 3.4 32-bit Windows. This started in the last couple builds. Seems to not be able to find `tiffio.h`. Sample failure in this [log]( https://ci.appveyor.com/project/conda-forge/gdal-feedstock/build/1.0.126/job/7ejmd7w95f0ys6qr#L1917 ).

[2016-05-16 21:56] gillins commented on #59
I think TIFF_INC=%LIBRARY_INC% -> TIFF_INC=**-I**%LIBRARY_INC% in bld.bat might work. Seems to be missing a -I in front of the include path in the log. Don't know why if works for other combinations.
I'll submit a PR shortly.

[2016-05-18 04:19] pelson opened #61 "Reducing the build matrix"
Currently, whenever we do anything with GDAL, it consumes a huge amount of resource from AppVeyor and ends up queueing lots of things behind it. So the question is, are we able to reduce the build matrix for GDAL so that we don't end up building 12 variants (x86/x64, py27/py34/py35, np110/np111)? Looking at the download numbers, it isn't obvious that there are any variants which aren't downloaded,

[2016-05-18 04:24] gillins commented on #61
Good point. Is there a plan to obsolete py34 long term? Are there reasons why people can't move to py35?

I'm always surprised people are still using 32bit, but you are right - people are downloading it.

[2016-05-18 04:30] pelson commented on #61
Yes. We discussed this in the last meeting (minutes pending) and have agreed that we will not be providing py34 at the same time as py36 (end of this year). I'm interested in gradually fading py34 out, but on Windows, it seems that it still isn't easy to get hold of binaries for everything at py35 (VS 15).

I guess there is also an interesting question as to whether we really need np110 builds. Th

[2016-05-18 04:35] gillins commented on #61
I don't think numba yet supports np111. Maybe when it does then that would be a good time to drop np110?

[2016-05-18 04:44] pelson commented on #61
Perhaps yes. I wouldn't have thought we would do that in general on conda-forge at that point, but I could conceive of doing it for the gdal feedstock to reduce the matrix.

This is really just something to think about - we don't need to force the reduction of the matrix, but it is worth keeping in mind if we see some easy wins.

[2016-05-18 23:16] gillins commented on #59
See https://github.com/conda-forge/gdal-feedstock/pull/60.

I think something changed in the GDAL build between 2.0.2 and 2.1.0, seems the paths are specified differently. I don't know why the other configurations passed.

[2016-05-18 23:16] #59 closed

[2016-05-19 13:10] ocefpaf commented on #61
@pelson and @gillins maybe we should re-visit splitting the python bindings from the core lib. It won't help Windows that much as the Python bindings are light weight in comparison the the core lib.

[2016-05-19 13:13] pelson commented on #61
Right, but we currently build GDAL 12 times due to the python deps, vs building it 2 twice without python bindings. My assumption is that building the python bindings is super quick compared to GDAL itself?

[2016-05-19 22:15] gillins commented on #61
The Python bindings take 38 seconds to build on my machine - so yes much quicker than the core lib.

The core lib would still have to be built 3 times for Windows (one for each version of VS in use) - but yes splitting them up would speed up building for different versions of numpy etc.

[2016-05-20 11:36] pelson commented on #61
Of course. I always forget that! Thanks for reminding me @gillins.

[2016-06-03 00:29] gillins commented on #25
Seems this is expected with GDAL: https://trac.osgeo.org/gdal/wiki/HDF#BuildingonWindowswithMSVC

I'm not sure why it worked with the older HDF5, but the supplied makefile.vc seems set up for static linking, and you have to edit it to work for dynamic.

[2016-06-03 11:21] jgomezdans opened #66 "Add support for spatialite/sqlite"
Spatialite (and sqlite) would be very nice to have. There's a conda-foge spatialite package, so this should be as simple as adding

    --with-sqlite3=$PREFIX \
    --with-spatialite=$PREFIX \

to `build.sh`, and to add dependencies to `sqlite` and `libspatialite` in `meta.yaml` (both for compile and run times). This seems to be working on Linux, and I guess it would also work for OSX, and there w

[2016-06-03 11:32] ocefpaf commented on #66
@jgomezdans we have [spatialite](https://github.com/conda-forge/gdal-feedstock/blob/gdal_1.x/recipe/build.sh#L32) support in the `gdal 1.11.x` branch and I recall testing sqlite3 and failing (don't remember the failure so I should try again.)

I will put a PR to add both to `gdal 2` as well.

[2016-06-03 15:14] jgomezdans commented on #66
So I tried those two changes on gdal2 and "it works for me on Linux". Don't know about OSX or Windows though...

[2016-06-03 15:39] ocefpaf commented on #66
Want to send a PR :grin: (Maybe also add yourself as a maintainer :wink:)

[2016-06-06 14:50] mccarthyryanc opened #69 "Shared Libraries Error"
**OS**: Ubuntu 16.04
**Anaconda**: 4.0
**Python**: 3.5

I installed gdal via conda:
[code]
with no issues.

However I get the following error with any call to GDAL:
[code]

[2016-06-07 01:08] jakirkham opened #70 "Pinning PR"
Looks `libtiff`, `libpng`, and `hdf5` are [pinned incorrectly]( https://github.com/conda-forge/gdal-feedstock/blob/23273c099949ca67eb7c7ab80bfbc8ca085cdbf6/recipe/meta.yaml ). Could we please have a pinning PR here to fix this, @pelson. Thanks @kmuehlbauer for pointing this out.

xref: https://github.com/conda-forge/wradlib-feedstock/pull/13#issuecomment-223905212

[2016-06-07 01:44] jakirkham opened #71 "Missing Windows binaries for version 2.1.0 build number 4"
It appears some of the version 2.1.0 build number 4 binaries are missing for Windows. To be accurate, these are the only ones I can find. List generated by running `conda server show conda-forge/gdal/2.1.0` and doing some filtering.

[code]

This is actually causing @kmuehlbauer significant difficulties building `wradlib` on Windows. I'm going to try restarting AppVeyor on `master` to see if those

[2016-06-07 01:44] jakirkham commented on #71
cc @pelson @ocefpaf

[2016-06-07 01:47] jakirkham commented on #71
Looks like some of the builds got canceled. See the [listing of builds]( https://ci.appveyor.com/project/conda-forge/gdal-feedstock/build/1.0.148 ). This might be easy to solve after all.

[2016-06-07 01:48] jakirkham commented on #71
Restarted AppVeyor. Let's see if this resolves the problem.

[2016-06-07 02:03] jakirkham commented on #71
I'm going to take a wild guess and assume this build was terminated because it takes forever to build. 😄 Hoping this doesn't cause too much trouble as this is outside most people's normal hours. If not, sorry in advance.

[2016-06-07 02:07] gillins commented on #61
Maybe we can now remove numpy 1.10 since numba now supports 1.11?

[2016-06-07 02:10] gillins commented on #69
I can't reproduce that here. `libcharset` is provided by the `libiconv` package. Can you try installing `gdal` into a new environment let us know what happens:
[code]

[2016-06-07 04:21] jakirkham commented on #71
These have now all been built and deployed. Closing...

[2016-06-07 04:21] #71 closed

[2016-06-07 14:39] mccarthyryanc commented on #69
Creating a new environment fixes GDAL, thanks for the help. However, it looks like installing rasterio is package that originally messed things up. I'll post an issue at the rasterio-feedstock.

[2016-06-07 14:40] ocefpaf commented on #69
@mccarthyryanc `rasterio` is pinned against `gdal 1.11.x`, so maybe that is the problem. I will take a look at this.

[2016-06-07 16:36] mccarthyryanc commented on #69
Here is what I get when installing rasterio in a new environment:
[code]
[code]

[2016-06-07 17:24] ocefpaf commented on #69
@mccarthyryanc I suspect you are getting a mix of channels (`defaults` and `conda-forge`).
Please try:

[code]

Also paste here the result `conda list`. It should be similar to [this](https://gist.github.com/ocefpaf/0b1b61b18a7dea342a69b4914b234054) one.

[2016-06-07 17:32] mccarthyryanc commented on #69
Yep, that works. Here is the conda list output:
[code]
Thanks for help! Having GDAL available through conda-forge has relieved a lot of headaches for me and my coworkers!

[2016-06-07 17:46] ocefpaf commented on #69
Glad it is resolved. I suspect the `conda-list` above is from the commands I sent you and not your original env, right? That one looks to be installing everything from `conda-forge`.

Hopefully that will be easier in the future as conda is evolving to better handle multiple channels.

[2016-06-07 17:46] #69 closed

[2016-06-07 18:46] ocefpaf commented on #61
If we drop `numpy 1.10` we should drop everywhere and not only `gdal`. That is something that needs some discussion.

@gillins I can add that to the next meeting agenda and bring the topic. (Unless you want to wake up in the middle of the night to participate :wink:)

[2016-06-07 22:49] gillins commented on #61
I'm really no good at having serious discussions in the middle of the night :smile: Whatever you guys decide is fine.

[2016-06-10 04:22] gillins opened #72 "Problems with GDAL linking on OSX"
I'm getting random crashes when running code that uses the latest version of GDAL on OSX. (actually the https://github.com/conda-forge/rios-feedstock test script).

Code runs fine with earlier versions.

I suspect this is the same problem @danclewley reported to me earlier. Some libraries are built against `/usr/lib/libstdc++` and some against Conda's `libstdc++`. I think this is due to some packa

[2016-06-10 06:09] danclewley commented on #72
Using local builds of `giflib` and `spatiallite` I created without `libgcc` didn't work as `libgcc` is still being pulled in through `openblas`, which is required by the version of `numpy` which RIOS pulls in.

Removing `numpy` from the `rios` dependencies fixed this and it pulled in the same version of `numpy` `gdal` was build against (1.11.0 mkl). @gillins I'm not sure if removing `numpy` from t

[2016-06-10 12:14] ocefpaf commented on #72
From `giflib` yes, from `spatiallite`, not sure... I will take a look.

I believe we can specify `numpy` with `mkl` in the recipe. I just forgot the syntax :grimacing:

[2016-06-10 12:57] ocefpaf commented on #72
I guess we are OK dropping `libgcc` for `spatialite` too. (See https://github.com/conda-forge/libspatialite-feedstock/pull/8)

If you are OK becoming maintainers of `libspatialite` I can merge as-is, if not I will remove you from the list and merge so we can move forward with `rios`.

[2016-06-12 21:10] jlaura opened #73 "ice 48 vs 56"
It looks like the icu library was recently upgraded from .48 to .56.

[code]

On both OSX and linux, this appears to have broken the GDAL 2.1.0 installation.

[code]

I am not sure which dependency is looking for ICU, or I would open a ticket / PR there with an upgrade.  Can anyone confirm that the build is not working?  If so, does anyone know what gdal dep. requires ICU?

[2016-06-12 21:12] jlaura commented on #73
Of course, I find it immediately after opening this ticket.   `libxml`

[2016-06-12 22:31] gillins commented on #73
I can't reproduce this problem on my Linux. Can you try installing `gdal` into a new environment and see what happens?

[2016-06-12 23:01] gillins opened #74 "Add support for expat"
As pointed out by @jakirkham, `gdal` is linked against the system `libexpat` on OSX which should be corrected. As we have a conda-forge `libexpat` we should link against that on all platforms which will give us a few more formats.

[2016-06-13 12:07] ocefpaf commented on #74
`gdal 1.x` should be OK. I guess I made a bad job porting all the changes to `gdal 2`

https://github.com/conda-forge/gdal-feedstock/blob/gdal_1.x/recipe/build.sh#L27

PS: Sorry... Until `fiona` is not fully compatible with `gdal 2` my mind is not really there :grimacing:

[2016-06-13 14:33] jgomezdans commented on #66
Forgot to close the issue. It's been solved by merging #68 .

[2016-06-13 14:33] #66 closed

[2016-06-13 18:59] jlaura commented on #73
I just downloaded Anaconda 4.0.0, created a new clean python only env and then installed.  OS is Red Hat 4.4.7-1.  Error is:

[code]

Installed Packages
[code]

[2016-06-13 19:30] ocefpaf commented on #73
Can you try?

[code]

That creates a self-contained `TEST` env with only `gdal` from conda-forge.

I tested it locally here and it downloads `icu 56.1-2 -forge` as expected. If that does work for you there we need to figure out why the latest `icu` was not downloaded in your previous attempts. Maybe a conflict with another package you have in your environment.

PS: Did you try to install `conda in

[2016-06-13 23:22] gillins commented on #74
No need to apologise! I think we are very close with `gdal 2` - we don't seem to get people complaining about missing drivers. Maybe no one is using it :wink: ?

[2016-06-13 23:59] ocefpaf commented on #74
~80% of "my" community sends me direct e-mails. Oh how I wish they were on GitHub! (but no report on missing drivers here too)

[2016-06-14 19:15] jlaura commented on #73
I ended up cleaning our other envs that appeared to be linking, instead of downloading GDAL.  I am hitting the dreaded `ImportError: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found` which looks like it will be the end of the road on this issue (I can not upgrade the OS).  Making it to this import error suggests that the above, reported bug, had to do with conda linking.

Thanks all f

[2016-06-14 19:15] #73 closed

[2016-06-15 22:04] ocefpaf commented on #51
Closed bu #75

[2016-06-15 22:04] #51 closed

[2016-06-15 22:06] ocefpaf commented on #74
Added for `*nix` in #75. Not sure how to add expat on the Windows build.

[2016-06-15 22:09] ocefpaf opened #76 "Extra drivers test"
@gillins in https://github.com/conda-forge/gdal-feedstock/pull/75#issuecomment-225743328

Let's add the exta drivers tests once we have them all working on Windows to avoid workarounds in `run_test.py`.

[2016-06-16 00:53] #70 closed

[2016-06-16 16:15] cpaulik opened #78 "Did you remove some builds?"
Trying to install `- gdal=2.1.0=np111py27_3` seems no longer possible. It is also gone from https://anaconda.org/conda-forge/gdal/files

[2016-06-16 16:28] ocefpaf commented on #78
@cpaulik we had to remove the previous builds due to bogus pinning. Please try the latest build as it is more stable and reliable (I hope :wink:)

[2016-06-16 16:28] #78 closed

[2016-06-23 03:12] gillins commented on #54
This appears to be fixed with the latest `conda`. @jobar8 can you try updating conda (`conda update conda`) and re-activating your environment and see if you can confirm this? Thanks

[2016-06-27 13:32] jobar8 commented on #54
I am not quite sure if that's fixed. When I started the anaconda prompt (before updating), I got this message I had never seen before:

`prepending C:\\Anaconda2 and C:\\Anaconda2\\Library\\mingw-w64\\bin and C:\\Anaconda2\\Library\\usr\\bin and C:\\Anaconda2\\Library\\bin and C:\\Anaconda2\\Scripts to PATH
(C:\Anaconda2) C:\Anaconda2\etc\conda\activate.d>if not defined GDAL_DATA (
set "GDAL_DATA=

[2016-06-27 13:46] jobar8 commented on #54
One more comment that might be useful:
After re-installing GDAL in the root environment, things start to work again as previously, but only after I open a new Anaconda prompt. I get a message telling me that GDAL_DATA has been set.
However, if I don't set GDAL_DATA manually in Windows, I can't get my script to work in a "normal" terminal (cmd.exe).

[2016-06-27 13:50] msarahan commented on #54
The root environment is tricky.  It does not run the activate script, and
as such, does not set this environment variable for you.

In general, I hope you'll think about using environments.  They make these
kinds of problems not happen, and they're also a lot less troublesome
should anything with conda go wrong.

On Mon, Jun 27, 2016 at 8:46 AM Joseph Barraud <notifications@github.com>
wrote:

[2016-06-27 14:33] snorfalorpagus opened #80 "Missing AdobeDeflate codec on Windows"
I've been experiencing the following exception using rasterio on Windows:
[code]

I get a similar message trying to use the command line utils for GDAL:
[code]

This seems to be a Windows specific issue - I have no issues reading the file(s) on Linux. I can't presently share the specific files in question due to licencing restrictions. I'll try to find something I can share.

I can't see anything

[2016-06-27 15:56] jobar8 commented on #54
But my experience today is that I need to install GDAL first on the root to get it working in a separate environment.

[2016-06-27 19:53] kmuehlbauer opened #81 "build problem with libtool"
As experienced in #79, there is currently a problem building gdal python bindings using libtool.

I contacted the gdal-dev list for help in this matter: https://lists.osgeo.org/pipermail/gdal-dev/2016-June/044658.html.

[2016-06-27 22:45] gillins commented on #80
Thanks for the report. Seems `libtiff` calls `zlib` compression "Adobe" internally (see `tif_codec.c`). I've just opened an issue with the `libtiff` recipe (https://github.com/conda-forge/libtiff-feedstock/issues/13) and will close this in favour of that.

[2016-06-27 22:45] #80 closed

[2016-06-27 23:02] gillins commented on #54
@msarahan I think there is something weird going on here. This was working for me last week, but with the latest conda, `GDAL_DATA` isn't being set when I activate an environment with `gdal` in it.

Should I open a issue on the Conda tracker?

[2016-06-27 23:20] msarahan commented on #54
Sure.  I think it will work again in 4.1.4 - I had some dumb mistakes in 4.1.3.  For instance, we reverted CONDA_DEFAULT_ENV to its old behavior of sometimes being a name, and sometimes being a PATH.  We added CONDA_PREFIX to always be a PATH, but we didn't update the code that looks in activate.d for scripts to use it (still used CONDA_DEFAULT_ENV).  So, it probably was not finding these scripts.

[2016-06-27 23:26] gillins commented on #54
You are totally right. I just updated to 4.1.4 and it works again :smile: Thanks!

[2016-06-27 23:26] #54 closed

[2016-06-28 04:02] gillins commented on #81
I'm now getting a failure on OSX when trying to import `gdal`. Seems the patch to `libgdal.dylib` has been hardcoded:
[code]

[2016-06-28 04:03] jakirkham commented on #81
...and it seems to still be linked to `libstdc++`. 😒

[2016-06-28 04:07] gillins commented on #81
Yep sure is... Not sure if that is related to `libtool`.

I have been thinking we need a better test for library linking. Would it be possible to add tests for `libstdc++` and libraries under `/Users` etc in an automated way to the build system?

[2016-06-28 04:11] jakirkham commented on #81
Certainly worth thinking about.

FWIW, PR ( https://github.com/conda-forge/toolchain-feedstock/pull/9 ) got accepted so the `toolchain` now used 10.9. Maybe this problem already goes away because of that. 🍀

[2016-06-28 04:17] gillins commented on #81
That would be good if it does. I'm just testing on my Mac and will report back...

[2016-06-28 04:36] gillins commented on #81
With the latest `toolchain`, `libstdc++` goes away, but the absolute path to the build location of `libgdal.dylib` still gets inserted...

[2016-06-28 05:18] jakirkham commented on #81
Maybe it is worth trying `libtool` again?

[2016-06-28 05:22] jakirkham commented on #81
...or maybe one could try `export LDFLAGS="${LDFLAGS} -Wl,-rpath,$PREFIX/lib"`.

[2016-06-28 05:22] jakirkham commented on #81
(after activating the `toolchain` of course)

[2016-06-28 05:51] gillins commented on #81
With `libtool` I get the classic error:
[code]
I'll try the `rpath` thing next.

[2016-06-28 06:09] gillins commented on #81
The `rpath` didn't help...

[2016-06-28 07:49] gillins commented on #81
@danclewley How are you guys building `gdal` on OSX these days?

[2016-06-28 13:41] kmuehlbauer commented on #81
gdal is built `--without-libtool` at their github mirror: https://github.com/OSGeo/gdal/blob/trunk/.travis.yml

[2016-06-28 23:15] gillins commented on #81
Do they have anything for building on OSX?

[2016-06-29 05:33] danclewley commented on #81
@gillins the latest `gdal` recipie we have been using is: [here](https://bitbucket.org/danclewley/conda-recipes/src/ed97c0242661b7489972f5f5a2cab6dd39a66714/gdal/build.sh?at=default&fileviewer=file-view-default). We hadn't been specifying an option for libtool and were setting `--disable-rpath` on both Linux and OS X. I'm not sure these are the best practices but were working for us.

[2016-06-29 06:13] kmuehlbauer commented on #81
Not to my knowledge :confused:

[2016-06-29 06:20] kmuehlbauer commented on #81
@gillins You have been [here](https://trac.osgeo.org/gdal/wiki/BuildingOnMac) before? There are instructions for building gdal on osx.

I didn't spot anything related to our particular problem, but the `configure` with `--disable-static` and `--with-macosx-framework`. Also they put `CFLAGS`, `CXXFLAGS` and `LDFLAGS` declarations at the end of the `configure`-call. Not sure, if this would change an

[2016-06-29 07:10] gillins commented on #81
Hadn't seen that - thanks @kmuehlbauer. I tried specifying `--with-macosx-framework` but that didn't help. I don't understand the various `CFLAGS` etc, but specifying them on the command line instead on `export`ing them shouldn't make any difference.
Just about to try setting `--disable-rpath` as suggested by @danclewley

[2016-06-29 08:20] gillins commented on #81
That didn't seem to help. Just to recap on OSX: when I use `libtool` I get an error building the Python bindings. Without `libtool` the Python binding (`_gdal.cpython-35m-darwin.so`) ends up with the build location of `libgdal` in the `rpath`.

I've just noticed that the Python binding is called `_gdal.cpython-35m-darwin.so` rather than **.dylib** which can't be good.

I've also tried **not** buil

[2016-06-29 08:24] gillins commented on #81
When I build the Python bindings via Python (`cd swig/python;$PYTHON setup.py install` etc), this command gets executed:
[code]
But this is the result:
[code]

[2016-06-29 12:22] akorosov opened #83 "vsizip behaves strangely: Recode from CP437 to UTF-8 failed with the error: "Invalid argument"."
**Problem**
After Installing gdal from conda-forge on fresh linux and attempting to open zip file with Sentinel data I got the following errors:

[code]

**Workaround.**
Following the hint in this [ticket](https://trac.osgeo.org/gdal/ticket/6410#no1) I've set environment variable:
`export CPL_ZIP_ENCODING=UTF-8`
Then it works as expected.

But why does it happen? It did not happen with gdal binari

[2016-06-29 12:36] ocefpaf commented on #83
@akorosov thanks for the report. I will investigate a fix for this. Can you provide a sample file with the problem so we can add that to our tests?

[2016-06-29 12:44] akorosov commented on #83
[stere.zip](https://github.com/conda-forge/gdal-feedstock/files/339271/stere.zip)
[code]

[2016-06-29 12:51] ocefpaf commented on #83
Thanks! I will get to it soon.

[2016-06-30 05:38] gillins commented on #21
Fixed in jpeg-feedstock

[2016-06-30 05:38] #21 closed

[2016-06-30 07:18] kmuehlbauer commented on #81
@gillins Seems really problematic things going on and a bunch of red herrings too.

Take a look at this (rather) [old mapnik post](https://github.com/mapnik/mapnik/issues/1683#issuecomment-21804664) regarding `gdal` and `libtool`. In the issue is also some more insights in XCode and `libc++` stuff.

I can't test this locally without a mac. But for the `/bin/bash` swig/python-problem, I discovered

[2016-06-30 09:00] ocefpaf commented on #21
Thanks @gillins!

[2016-06-30 19:42] kwilcox opened #86 "Recent builds broken?"
I'm having issues on linux with 3.5 and 3.4

[code]

[2016-06-30 19:49] kwilcox commented on #86
@ocefpaf came to the rescue

[code]

[2016-06-30 20:03] ocefpaf commented on #86
This issue will be partially solved when we pin our Python with `xz 5.2.*`. (Ping @pelson)

Here is how it breaks down:

- conda is resolving the latest version of `Python 3.4` with  `xz 5.2.2`;
- that pulls a `libtiff` from `defaults` that is also compiled against `xz 5.2.2`;
- this `libtiff` is pinned against `jpeg8b` but conda-forge `gdal` is pinned against `jpeg 9d`. See,

[code]

IMO conda sh

[2016-06-30 23:09] gillins commented on #81
Thanks for the post. Yes we did come across the problem with `libtool` dropping the `-stdlib=libc++` problem, hence why we have:
[code]
For OSX in `build.sh`. I'm trying #85 on my Mac now, will report back there with the results.

[2016-07-01 08:20] kmuehlbauer commented on #81
Problem seems to be having CC and CXX exported in the environment and using `configure` and `libtool` building gdal.

Here is another post on the [gdal-dev list](https://lists.osgeo.org/pipermail/gdal-dev/2016-July/044678.html)

[2016-07-01 08:22] pelson commented on #86
@ocefpaf - it would really help to track down the specific packages which are under-pinned. It sounds like they may be `defaults` packages, and we should definitely let the Continuum folks know about it.

[2016-07-01 11:48] ocefpaf commented on #86
In this particular case I cannot see any pinning issue with `defaults`. I do see a problem in the fact that `conda-forge`'s `gdal` is pinned to `jpeg 9*` and installed along side a `libtiff` that is pinned to `jpeg 8d`. That should be incompatible IMO.

See that forcing the installation of `conda-forge`'s `libtiff` in https://github.com/conda-forge/gdal-feedstock/issues/86#issuecomment-229768696 t

[2016-07-01 11:57] ocefpaf commented on #81
@kmuehlbauer thanks for digging this up (and sorry for all the trouble you went to find it). I believe we are reaching a solution in #85

[2016-07-01 13:48] pelson commented on #86
Agreed. The metadata makes that abundantly clear.

A bug with conda...

[code]

This should now be easy enough to generate a simple test case with to highlight the bug.

[2016-07-01 18:06] ocefpaf commented on #73
Sorry for taking me so long to answer, but that is not your OS fault. We are having some major issues with that! Hopefully the next `gdal` release won't be linking to `libstdc++`. A workaround for now is to install the `libgcc` package on Linux.

[2016-07-07 17:59] ocefpaf commented on #86
Now that we merged https://github.com/conda-forge/libtiff-feedstock/pull/16 this can be closed.

[2016-07-07 17:59] #86 closed

[2016-07-08 14:39] aleksandervines opened #88 "Build issue with libxml2 on OS X"
For some reason (I can not figure out why), libxml2 is being installed from defaults channel (2.9.2), not conda-forge (which has 2.9.3). Setting the libxml2 2.9.3 dependency explicitly in gdal solves this issue.

Before setting dependency:
https://travis-ci.org/aleksandervines/gdal-feedstock/builds/143299375

After:
https://travis-ci.org/aleksandervines/gdal-feedstock/builds/143318936

From what I

[2016-07-08 15:20] ocefpaf commented on #88
The conda solver tries to optimize the overall versions so the solution is not the same when the packages list to be installed is different. Here I believe conda is optimizing for the latest `Python`, which pulls the latest `xz` and, b/c our `libxml2` is pinned against an older `xz`, the defaults version of `libxml2` is picked.

Closing this as there is nothing we can do in `gdal` and this will go

[2016-07-08 15:20] #88 closed

[2016-07-13 17:04] BtbN opened #91 "Symbol not found: __ZN6kealib10KEAImageIO10isKEAImageESs"
This looks like gdal needs a rebuild against the latest version of kealib?

https://travis-ci.org/OGGM/OGGM-Anaconda/jobs/144452309#L1940

[2016-07-15 15:16] pelson commented on #72
Openblas and scipy both no longer depend on `gcc` and should be free from libstdc++ contamination at this point.

[2016-07-17 20:55] ocefpaf commented on #74
@gillins can we close this one? I believe #90 covered that, right?

[2016-07-17 22:40] gillins commented on #74
Indeed :smile:

[2016-07-17 22:40] #74 closed

[2016-07-17 23:15] gillins commented on #72
All appears to be resolved now - thanks to all.

[2016-07-17 23:15] #72 closed

[2016-07-18 05:29] lpinner opened #94 "ERROR 1: Cannot create TIFF file due to missing codec for JPEG/DEFLATE"
Environment:
Windows 7 / conda 4.1.8 / [Conda Env](https://github.com/conda-forge/gdal-feedstock/files/368359/py35env.txt)

Running the following gdal_translate commands fails when the compress config option is set to JPEG or DEFLATE

[code]

[2016-07-18 05:38] gillins commented on #94
Can you update `libtiff` and see if this still happens? You seem to be on build number 4, but I think this was fixed by https://github.com/conda-forge/libtiff-feedstock/pull/14/files in build number 5.

[2016-07-18 05:41] lpinner commented on #94
Yep, that fixed it. Thanks.

[2016-07-18 05:41] #94 closed

[2016-07-18 14:08] kmuehlbauer commented on #81
solved in iteration of #85 and #90

[2016-07-18 14:08] #81 closed

[2016-07-18 14:13] ocefpaf commented on #76
This was addressed in #84 and #90

[2016-07-18 14:13] #76 closed

[2016-07-18 14:13] ocefpaf commented on #41
Done!

[2016-07-18 14:13] #41 closed

[2016-07-18 14:15] ocefpaf commented on #61
Closing this b/c `AppVeyor` is quite fast now and I don't believe we need to reduce the build matrix for now.

[2016-07-18 14:15] #61 closed

[2016-07-18 14:46] ocefpaf commented on #91
@BtbN I tested this locally and it seems to be fixed with in the latest build. Let me know if you are still finding problems.

[2016-07-18 14:46] #91 closed

[2016-07-18 15:09] ocefpaf opened #95 "Split into libgdal and gdal"
I am not a big fan of this move, but `defaults` did this and packages on `defaults` that depend on `libgdal` get confused when mixing with `conda-forge`'s packages.

@pelson, @msarahan, @ccordoba12, @groutr, @gillins, and @kmuehlbauer what do you think? Should I just go ahead and do the split+rename here? I am on the fence, which means that I will do this if I get 3 :+1:  here :smile:

xref: https

[2016-07-18 19:38] DBaryudin opened #96 "Upgrading gdal drivers in geopandas"
The geopandas that is downloaded via "conda install geopandas" has a gdal version that does not contain all of the necessary drivers.  For example, when I run a command like "

ogrinfo input.shp -dialect SQLite -sql..."

I get the response, "ERROR 6: The SQLite driver needs to be compiled to support the SQLite SQL dialect"

Trying to upgrade GDAL, I run into dependency issues.  If I upgrade fiona,

[2016-07-18 22:25] ocefpaf commented on #96
@DBaryudin I am not familiar with the SQLite driver. It will help me if you can create a full command, preferable with some of our test data or if some test data you can provide, so I can test it. Also, can you send me the results for:

[code]

PS: You will find our test data [here](https://github.com/conda-forge/gdal-feedstock/tree/master/recipe).

[2016-07-18 22:40] ccordoba12 commented on #95
I don't know who's the current maintainer of Gdal in Continuum, but I'd prefer to use `gdal` and `python-gdal` instead of the current split.

Just my 2 cents ;-)

[2016-07-18 22:44] ocefpaf commented on #95
Me too BTW. (If renaming the package on `defaults` is a possibility.)

[2016-07-19 09:48] kmuehlbauer commented on #95
For the sake of clarity `python-gdal` should be used for the python bindings. There are other bindings, which possibly find their way into conda-forge.

What are the consequences of doing the split of `gdal` (libgdal + python bindings) to `gdal` (lib only) and `python-gdal` (python bindings)?

The only real consequence would be for `conda-forge` users to have `conda install python-gdal` in the fut

[2016-07-19 15:38] ocefpaf commented on #95
Correct.

`gdal` is not lib only BTW. The binaries will be there. (Not even sure if we already have other bindings there.)

Yes. To be completely honest: even though I like the idea of renaming I don't like the idea of breaking people envs. Maybe it is still early and `conda-forge` can do this break without much damage. Let's see.

[2016-07-20 02:39] dharhas commented on #95
In my opinion gdal is horribly broken already, installing gdal has been a crapshoot in terms of whether it works over time so I think renaming is fair game if it means we can have reliable installs.

[2016-07-20 11:16] ocefpaf commented on #95
But what name do you prefer? :smile:

Note that we can only rename to `gdal` and `python-gdal` if `defatuls` follow. Otherwise we will be stuck with `libgdal` and `gdal`.

[2016-07-20 12:53] dharhas commented on #95
I'm firmly on the side of 'practicality beats purity', I prefer 'gdal/python-gdal' but if 'libgdal/gdal' will make the pain go away I'm fine with it.

I guess boils down to whether there is anyone we can contact on the continuum side who is able and *willing* to make the change.

[2016-07-21 15:07] ccordoba12 commented on #95
Pinging @mingwandroid about this one

[2016-07-22 03:06] dharhas commented on #95
any idea on timeline on a decision and if there is any cross platform working combination of gdal/rasterio/fiona that is installable in the meantime. I've tried pinning to the last version before conda-forge came along and various other combinations but haven't found anything that seems to work,

[2016-07-22 03:09] ocefpaf commented on #95
I will bring this up in our meeting, but I believe that we will have to use `libgdal` and `gdal`.

[2016-07-23 16:54] ocefpaf commented on #95
@ccordoba12, @dharhas, and @conda-forge/gdal I am convinced we won't be able to use a different name than `defaults`.

I am also not sure that using the same name split as `defaults` will help us get some consistency as it will work only if everything is properly pinned and a version of all the packages that depends on "`libgdal`" exists in conda-forge compiled against the latest version.

However

[2016-07-24 14:26] #95 closed

[2016-07-25 11:06] ocefpaf opened #99 "gdal 1.11.5 does not build with sqlite"
From @gillins  in https://github.com/conda-forge/gdal-feedstock/pull/97

You mean that with `sqlite` GDAL 1.11.5 didn't build? Seems to make sense looking at the differences with 2.1 (https://trac.osgeo.org/gdal/browser/branches/1.11/gdal/ogr/ogrsf_frmts/sqlite/ogrsqlitevirtualogr.cpp vs https://trac.osgeo.org/gdal/browser/branches/2.1/gdal/ogr/ogrsf_frmts/sqlite/ogrsqlitevirtualogr.cpp).

`conda-

[2016-07-26 20:49] hetland opened #100 "Library broken on os."
import gdal gives an import error:

ImportError: dlopen(/Users/rob/anaconda/lib/python3.5/site-packages/osgeo/_gdal.so, 2): Symbol not found: __ZN6kealib10KEAImageIO10isKEAImageESs
  Referenced from: /Users/rob/anaconda/lib/python3.5/site-packages/osgeo/../../..//libgdal.20.dylib
  Expected in: /Users/rob/anaconda/lib//libkea.1.4.6.dylib
 in /Users/rob/anaconda/lib/python3.5/site-packages/osgeo/..

[2016-07-26 21:05] ocefpaf commented on #100
Since I don't have a Mac to test could you send me the results of:

[code]

[2016-07-26 22:27] dopplershift commented on #100
This just worked fine for me on OSX 10.11.

[2016-07-26 22:28] ocefpaf commented on #100
It may be a remnant from the issues we had before right before SciPy. When was your last update @hetland?

[2016-07-27 14:11] hetland commented on #100
This test passes, but my other install of gdal (also using py35) fails. I
suspect I have conflicting package libraries somewhere, but I don't know
what the conflict could be. Relevant output from the test below:

~$ source activate TEST
(TEST) ~$ conda info > debug.txt
(TEST) ~$ conda info >> debug.txt
(TEST) ~$ python -c "import gdal"
(TEST) ~$ more debug.txt
Current conda install:

[2016-07-27 14:18] ocefpaf commented on #100
OK. So the issue is not here :smile:

what the conflict could be. Relevant output from the test below:

That is probably `kealib`. Did you try re-creating or updating the env where the failure exist? Maybe try to update only `gdal` and `kealib` there might work.

[2016-07-27 14:18] #100 closed

[2016-07-28 03:49] ocefpaf commented on #96
@DBaryudin `geopandas` was pinned to gal 1.11.x, which we do not compiled with `SQLite`, but the latest release should be compiled against `gdal 2.1.x` and that should work with `SQLite`.

Try to upgrade and let me know if this works for you.

[2016-07-28 03:49] #96 closed

[2016-07-28 23:29] ocefpaf commented on #83
@akorosov I could not reprduce that error locally. Maybe we fixed it without knowing or maybe it is something specific to the system config. Either was I added a test case to catch that and if it re-surfaces in the CIs we will know.

Let me know that the new packages work for you.

[2016-07-29 15:55] ocefpaf commented on #83
I was manually unpacking it and, of course, that does not really test `vsizip`. Looking into it again...

[2016-07-29 15:59] ocefpaf commented on #83
@gillins I can confirm that `conda-forge`'s `vsizip` does not work unless we set `export CPL_ZIP_ENCODING=UTF-8`.

The [ticket](https://trac.osgeo.org/gdal/ticket/6410#no1) mentions `iconv`, but I am not sure how that relates here.

Would it be OK to set that env var in the activation script?

[2016-07-29 23:04] gillins commented on #83
Fine by me. Weird that is needed, but unlikely to conflict with anything else.

[2016-07-29 23:10] ocefpaf commented on #83
Yeah. I am not sure what is going on there... I sent PR #105 where I added a proper test in the first commit, showing the failure on Linux, and the suggested fix. Since we cannot test the activation scripts at test time I had to hard-code the same env var in the tests scripts.

Can you review and merge #105?

[2016-07-30 21:02] ocefpaf commented on #83
This is finally fixed in #105. Thanks @gillins and @akorosov!

[2016-08-07 11:16] danclewley opened #106 "Latest version of gdal pulls in libnetcdf from default channel (built against jpeg 8d) which causes error when running"
Installing the latest version of gdal (2.1.1) from conda-forge gives the following error:
[code]
I think this is due to pulling in libnetcdf 4.4.1 from default in preference to 4.4.0 from conda-forge.
Downgrading libnetcdf to 4.4.0 (from conda-forge) fixes gdal and doesn't change any other packages so I think this is where the problem is.

From what I can tell the version of libnetcdf in default i

[2016-08-08 13:24] ocefpaf commented on #106
It is hard to debug this as we don't really know what package is causing the `jpeg` downgrade. Note that all conda-forge package are properly pinnied and this "should" should not happen. If the culprit is indeed `libnetcdf 4.4.1` you can upgrade your `conda` to the latest version, so you can have the channel preference feature, and to add conda-forge on top of `defaults` in your `.condarc` file.

[2016-08-08 19:53] danclewley commented on #106
OK, didn't think to check the conda version. The machine I was testing on had quite an old version (4.0.8). Updating to the latest version and running the command you suggested the correct version of `libnetcdf` gets pulled in. Reverting back to 4.0.8 (to confirm) `libnetcdf 4.4.1` gets pulled in.

I'm going to close this then as has been solved in conda and no action is needed for the gdal feedst

[2016-08-08 19:53] #106 closed

[2016-08-08 20:28] ocefpaf commented on #106
Thanks for the tests. `conda-forge` is pushing `conda` and `conda-build` limits and new versions with improvements are released often :smile:

The channel preference, for example, is a result of this interaction.

BTW: I am updating `libnetcdf` too. See https://github.com/conda-forge/libnetcdf-feedstock/pull/5

[2016-08-08 20:32] michaelaye opened #107 "gdal suggesting downgrade of libgdal"
I just upgraded from OSX 10.10.5 to 10.11.6
Have gdal installed from conda default channel.
Was living without bleeding edge gdal for a while, waiting for conda-forge to sort it all out. ;)
Trying to install it now into a conda Python 3.5 environment that has (lib)/gdal 2.0.0 installed gives me currently this:
[code]
As you can see, it suggests to downgrade pillow from 3.3.0 to 3.2.0, but weirdly,

[2016-08-08 20:39] ocefpaf commented on #107
It is hard to know what packages conda is trying to honor there. So let's isolate this into an env in order to debug. First do a `conda update --all` to get the latest version of `conda`. Then check if `conda-forge` is added on top of `defaults` in your `.condarc` file.That is b/c latest `conda` has the notion of channel preference and the channel that goes on top is the main one. Then do:

[code]

[2016-08-08 21:20] michaelaye commented on #107
your way of testing would cover up the update problem, so I did this:
[code]
(attached)
[debug.txt](https://github.com/conda-forge/gdal-feedstock/files/407763/debug.txt)

First question I already have is why my `stable` env stays on gdal 2.0.0 even when I do `conda update gdal`?

Now, in `TEST`, I did a `conda search --reverse-dependency libgdal`, and only gdal, fiona and rasterio demand it. I onl

[2016-08-09 00:48] ocefpaf commented on #107
Hence the problems you are having. You are mixing packages and resolutions that the `conda` solver cannot do for you without the channel. See things like:

`gdal:          2.1.0-py35_0             --> 2.1.1-np111py35_1 conda-forge`

`conda-forge` has a `numpy` build string and `defaults` does not. That is one of the many things where the conda solver is choking.

[2016-08-09 21:41] michaelaye commented on #107
Hm, I added conda-forge, and a `conda update gdal` provides the exact same response as above, if my eyes are not bad (in fact they are bad today, so I might miss something):

[code]

[2016-08-09 21:55] michaelaye commented on #107
it's almost like `conda` tries to get rid of `libgdal` (as it's not required by the gdal of conda-forge anymore), and doesn't know how and then downgrades it?

[2016-08-10 12:28] ocefpaf commented on #107
Could be... Not sure what is in the cards for `gdal` in `defaults` but as you can see from https://github.com/conda-forge/gdal-feedstock/issues/95 we are unable to communicate with them in that regard.

However, I cannot reproduce that error in a fresh install unless I install force `libgdal`.

[2016-08-10 17:19] michaelaye commented on #107
Hm, that would be mysterious. Are you sure you did as first command `conda create --yes -n TEST python=3.5 gdal' like I did, and not as you suggested `conda create  --yes -n TEST python=3.5 gdal -c conda-forge`? As I argued above, your way disguises the update problem of conda.

[2016-08-10 17:22] ocefpaf commented on #107
"My way" enforces the right channel. If you do not issue the command that way you are bound to get the `defaults`.

Closing this as there is nothing we can do on `conda-forge`. If you have any suggestion on how to improve conda channels handling you can open new issues on the `conda` repo.

[2016-08-10 17:22] #107 closed

[2016-08-10 17:24] michaelaye commented on #107
I'm not sure that's a truthful statement, as a split of gdal into gdal/libgdal would indeed remedy this situation. So it's not true that the gdal-feedstock can't do anything about this. You stated in #95 that you don't like to break people's environments, but as long as ppl do start with the defaults channel and then want to upgrade to conda-forge, while not really a break, it is dirty, as it leav

[2016-08-11 09:41] akorosov commented on #83
Seems that it comes back in gdal 2.1.1

[2016-08-11 10:54] ocefpaf commented on #83
Can you do a `conda list` and send me the exact build number so I can check try to debug this?

[2016-08-12 08:03] akorosov commented on #83
Hi @ocefpaf ! Here's the list:
[code]

And here is the reproduced error:
[code]
And the workaround fixes it:
[code]

[2016-08-12 17:17] ocefpaf commented on #83
Are you using it in the root env? If so `conda` does not export env vars. I
checked it locally in a env and everything works.

PS: Please try `echo $CPL_ZIP_ENCODING` to see if the var exits before you
defined it yourself.

**********************************************************
Filipe P. A. Fernandes
Physical Oceanographer

Email: ocefpaf@gmail.com

http://ocefpaf.github.io/
******************

[2016-08-15 06:32] akorosov commented on #83
Yes, I'm using the root env and would prefer not to use a virtual environment, since we anyway use a virtual machine. CPL_ZIP_ENCODING does not exist before I define it myself.

Can that problem be fixed otherwise than setting an environmental variable? It was only a workaround that I found - not a solution. There are obviously some problems when compiling gdal that trigger this strange behavior.

[2016-08-15 12:01] ocefpaf commented on #83
Be aware that `conda` won't execute the activation part of any software installed in the root env. So other things may be broken, like the data directory from `gdal`.

Not sure... If I find out I will certainly fix it! I will investigate this a little bit more. If you find anything let me know. Meanwhile lets keep this issue opened.

[2016-08-16 13:08] akorosov commented on #83
Thank you, @ocefpaf ! I wish I could contribute but don't even understand where to start...

[2016-08-16 13:10] ocefpaf commented on #83
Same here. I am trying to single out `libiconv` to be certain, but so far nothing :unamused:

[2016-09-05 13:55] heistermann opened #111 "Problem when importing gdal from a conda environment"
I am facing a weird problem when I try to import from a gdal installation that has been installed to a conda environment. I am working on Windows 7. This is what happens:

I created a fresh conda 2.7 environment (named `gdaltest` in the following text) and I installed gdal (from the conda-forge channel), into that environment:

[code]

When I invoke the Python interpreter from the activated `gdalt

[2016-09-05 15:53] kmuehlbauer commented on #111
@heistermann Same here, I can reproduce this on a win7 machine.

One thing you might try to investigate further:

``` conda search gdal```

and check the other available gdal builds for the issue. This way we might find the commits where this was introduced (if that's a problem of the recipe, not conda itself).

@gillins Can you also reproduce? Thoughts.

[2016-09-05 23:05] gillins commented on #111
But `activate` sets the %PATH% which is needed for finding the `gdal` dll... I'm surprised this would ever work.

Can't you `activate` before running your IDE?

[2016-09-06 07:56] kmuehlbauer commented on #111
@heistermann

Workaround for `pycharm`:

- Re-declare the PATH in the Configuration-Section (Run/Debug-Configurations) where `prefix` is the PATH to the wanted conda-env:
  prefix;prefix\Library\mingw-w64\bin;prefix\Library\usr\bin;prefix \Library\bin
- add GDAL_DATA pointing to prefix \Library\share\gdal

@gillins The thing with the IDE is that you want to use different conda-envs within the same

[2016-09-06 07:56] heistermann commented on #111
Thanks for the quick response! You are right, after

[code]

I can open PyCHarms Python console and import `ogr` from `osgeo`. Thanks!

However, I am still wondering about the behaviour mentioned above. After setting the GDAL_DATA environment variable manually, invoking the Python interpreter from the conda environment used to work (before gdal 2.1.0). I was under the impression that it is general

[2016-09-06 07:59] gillins commented on #111
Linux has `rpath` so executables can specify where their libs are. Windows doesn't so the %PATH% must be set. This is my understanding anyway :smile:

[2016-09-06 08:01] kmuehlbauer commented on #111
Ummh, a really  nice feature. :+1:

[2016-09-06 08:06] kmuehlbauer commented on #111
@heistermann

If you also need to use the python console within pycharm, then you would need to set the PATH environment also at:

Settings->Build,Execution, Deployment->Console->Python Console

[2016-09-08 15:07] epifanio opened #112 "install fails on a fresh conda installation"
Installer used:  Anaconda3-4.1.1-Windows-x86_64

log:

[code]

[2016-09-09 05:23] gillins commented on #112
Try running `conda update --all` first, and let us know if that fixes it. Which version of Python are you using?

[2016-09-09 20:03] egayer commented on #111
Hi,

I just installed "**gdal**" from `conda install gdal` on my mac os 10.11.2
Everything went fine, but then trying to import goal here is the error :

[code]

Since I did not understand (I am not familiar with installation problems) I did try another install with

`conda install -c conda-forge gdal `

[code]

Although libgdal has been downgraded I still get the same problem

`Incompatible libra

[2016-09-09 22:18] ocefpaf commented on #111
Hi @egayer usually it is better to open a new issue. This one is related to Windows installation.

You problem seems like the usuall mismatch between `conda-forge` and `defaults`. Can you try the following instructions (if you do want to use `conda-forge`'s `gdal` of course):

1. Make sure you have the latest `conda` to take advantage of the channel preference feature. You can do that by  issuing

[2016-09-10 18:21] epifanio commented on #112
Hi, I tryied an ```update --all``` not the logs says:

[code]

[2016-09-10 18:22] epifanio commented on #112
This is with latyest conda installer for python 3.5.2

[2016-09-10 19:17] ocefpaf commented on #112
Windows and Python 3.5 is problematic because of `jpeg 8*` (used on `defaults`) and `jpeg 9*` used on `conda-forge`. Anything that requires `jpeg 8*` from `defaults`, like `qt` (via `matplotlib` for example) will result in that conflict.

The solution is either `defaults` upgrade to the less buggy `jpeg 9*` or if `conda-forge` start building `qt`. The problem to build `qt` on `conda-forge` is that

[2016-09-11 15:08] epifanio commented on #112
Oh! I see the issue.
I wonder what jpeg will be used on [qttesting](https://anaconda.org/qttesting channel) channel. Perhaps they are using the new jpeg?

[2016-09-11 22:48] gillins commented on #111
@egayer yes open a new issue, but I suspect this is related to the conflict between `conda-forge`'s `gdal` an `defaults` `libgdal`. You can't install both in the same environment.
@ocefpaf Is there a way we can mark them as being in conflict?

[2016-09-12 11:13] ocefpaf commented on #111
I am not sure if such a feature exists (something like RPMs `conflict with`). @msarahan am I outdated with latest `conda-build`? Does such a feature exists? I am asking because I saw [this](https://bitbucket.org/petsc/conda-recipes/src/bd5a629eaf8b7d41e1dea8d2bf42f736950d559b/mpich/meta.yaml?at=master&fileviewer=file-view-default#meta.yaml-11) some time ago but I could not find any docs.

[2016-09-12 12:03] ocefpaf commented on #112
No idea. Either way this problem is  a headache for Windows users to move to `Python 3.5` and we need to find a solution ASAP.

[2016-09-22 14:51] justinmnoor opened #113 "Windows 10 64-bit Environment Variable Path Issue with Gdal"
Hi I am on Windows 10 (64-bit), using Anaconda3 4.1.1. I am trying to create a geospatial analysis environment in Python 2.7.12.

When attempting to install Fiona, I am having a Gdal related environment variable issue. I am told that the issue is with Gdal, not with Fiona.

I arrived here through the following steps:

1) I created an environment with 'conda create -n testenv python=2'.

2) Next I

[2016-09-27 23:03] justinmnoor commented on #113
I left Windows and I am now a very happy Ubuntu Linux user (this was building up). No more Windows issues. I'm closing this.

[2016-09-27 23:03] #113 closed

[2016-10-02 00:12] gillins commented on #113
Indeed! BTW I couldn't reproduce this on Windows, I wonder if you have another `activate` in your %PATH%?

[2016-10-06 22:11] jobar8 commented on #54
Sorry to resuscitate this issue but I don't think the gdal-activate.d script is working on Windows.
I have created a new environment with Python 3.4, gdal 2.1.0 and a few other things.
Running my scripts, I get the same error as before about GDAL_DATA not being set properly. Indeed, its value is "C:\Anaconda3\envs\interpies\etc\conda\activate.d\\..\..\..\Library\share\gdal"
Setting the environment

[2016-10-08 18:28] valgur commented on #112
Maybe a bit off topic, but I think the GDAL package or conda-forge would benefit from switching to [libjpeg-turbo](http://libjpeg-turbo.virtualgl.org/) in place of libjpeg. It is fully compatible with it up to version 8.

The main reason I'm suggesting this is because the current libjpeg maintainer keeps pushing out major release versions which are not backwards-compatible in terms of C ABI, which

[2016-10-08 19:02] ocefpaf commented on #112
@valgur my Linux distro uses `libjpeg-turbo` and I have been thinking what would be the advantages of that for a while. Thanks for the links, they really helped.

We can definitely experiment with that. I guess that the first step would be to submit a recipe for `libjpeg-turbo` to [`staged-recipes`](https://github.com/conda-forge/staged-recipes). Is that something you would like to try?

[2016-10-08 20:50] valgur commented on #112
Sure, I'll give it a try. I haven't created one before but I think I'll enjoy getting to know conda-forge a bit better.

[2016-10-08 20:59] ocefpaf commented on #112
Feel free to ping me for help.

[2016-10-09 01:03] davidh-ssec commented on #112
Based on previous posts it sounds like this issue only affects python 3.5, is that true? I'm using python 3.4 and I'm seeing this, is there a work around. My issue is using gdal and qt (both pyqt and matplotlib, I think).

[2016-10-09 11:01] valgur commented on #112
@davidh-ssec It seems to be the case. I had to downgrade my environment to Python 3.4 to be able to use GDAL and libraries dependent on Qt simultaneously.

[2016-10-09 12:04] ocefpaf commented on #112
That is correct. We are discussing how to get a qt package in `conda-forge` to fix that for good. Because we cannot build `Qt` on AppVeyor we need to upload a pre-built binary. Please show your support to https://github.com/conda-forge/conda-forge-enhancement-proposals/pull/5 to help this move forward.

[2016-10-09 12:48] davidh-ssec commented on #112
@valgur are there specific versions of Qt and GDAL that you had to use? Maybe one of my other dependencies was limiting the version of gdal/qt.

@ocefpaf Thanks.

[2016-10-09 13:16] valgur commented on #112
@davidh-ssec Ah, yes, I think I actually needed GDAL >= 2. Sorry, it has been a few weeks since then. GDAL 1.11 probably works, as you said.

[2016-10-09 14:36] valgur commented on #112
@ocefpaf I created a `libjpeg-turbo` recipe in https://github.com/valgur/staged-recipes/tree/libjpeg-turbo/recipes/libjpeg-turbo
and a `jpeg` metapackage depending on it at https://github.com/valgur/staged-recipes/tree/libjpeg-turbo/recipes/jpeg.

My `libjpeg-turbo` package currently only supports Linux systems. Adding Windows support should be straightforward but I'm lacking the time for that tod

[2016-10-09 14:46] ocefpaf commented on #112
Nice! Send a PR to staged recipes, it is OK to skip the Windows builds for now, so we can build and test. If everything is OK we can merge and get `libjpeg-turbo` in the channel. That does not mean we will be able to use it immediately, but we will be able to test with it,

To be honest I dislike complexities. I'd prefer that, if we make the move to `libjpeg-turbo`, we move everything to it. Howev

[2016-10-09 19:08] valgur commented on #112
Ok, I created [the pull request](https://github.com/conda-forge/staged-recipes/issues/1738). Made the build work on Windows as well.

[2016-10-09 21:42] mhabets opened #120 "geo pdf not supported on linux"
To be supported on linux, gdal must be compiled with poppler lib.
`gdal-config --dep-libs` should show: `-lpoppler`

[2016-10-09 23:15] ocefpaf commented on #120
We do not have a conda package for `poppler`. Do you want to submit one to [`staged-recipes`](https://github.com/conda-forge/staged-recipes)?

[2016-10-10 06:02] mhabets commented on #120
Thank you for short answer. I wish I could but I have never done that. I am afraid I can't find time to learn how to do it? Is it straightforward?

BTW, it seems there is an inconsistency with the pdf format:
- `gdalinfo --formats` returns pdf as supported: `PDF -raster,vector- (w+): Geospatial PDF`
- but `gdal_translate` and `osgeo.gdal.Translate` return `ERROR 4: 'file.pdf' not recognized as a s

[2016-10-23 07:40] gillins commented on #120
Just to clarify - it seems that PDF write support is included by default, read support needs another library (`poppler` etc). See http://www.gdal.org/frmt_pdf.html and http://gdal.org/formats_list.html.

[2016-10-23 07:47] gillins commented on #54
It is working for me with the latest versions of everything. Can you try updating? The latest `gdal` is 2.1.1.

[2016-10-25 22:03] jseabold opened #123 "libuuid not getting installed?"
I ran into this installing fiona, but this appears to be a problem with gdal. In a fresh conda environment, containing only ipython.

[code]

[code]

[code]

Doing

[code]

Solves the problem. Shouldn't libuuid be a transitive dependency met via gdal? Does it need to be added to the meta.yaml file?

[2016-10-25 22:13] ocefpaf commented on #123
@jseabold you got us in the middle of a transition. Hopefully that will go away as soon as we merge https://github.com/conda-forge/gdal-feedstock/pull/122 (and `libuuid` won't be needed).

I am keeping this open until we merge and and test #122.

[2016-10-26 19:05] #123 closed

[2016-10-28 12:20] ocefpaf commented on #123
@jseabold let me know if this is fixed for you.

[2016-10-28 12:21] ocefpaf commented on #99
We are already on `gdal 2.1.2` and I do not see another `1.x` series release in the future. So I am closing this as I do not believe it is sill worth maintaining the `1.x` series.

[2016-10-28 12:21] #99 closed

[2016-10-28 12:26] ocefpaf commented on #112
Closing this because the `libjpeg-turbo` should be in another discussion and the original problem can be solved by using all `conda-forge` packages that are consistent with `jpeg 9*` and giving up any packages from `defaults` that uses `jpeg 8*`. That is a limitation for those using `Qt`, `matplotlib`, etc with `conda-forge`;s `gdal`, but we will have to deal with that limitation until `conda-forg

[2016-10-28 12:26] #112 closed

[2016-10-28 12:28] ocefpaf commented on #111
@heistermann there were some updates since you opened this issue. Can you confirm if that is still a problem and, if so,  re-open this issue?

[2016-10-28 12:28] #111 closed

[2016-10-28 14:12] jseabold commented on #123
lgtm

[2016-11-09 02:13] SylvainCorlay opened #126 "Add jpeg dependency on linux"
It seems that jpeg missing on linux. I cannot import gdal

[code]

[2016-11-09 13:08] ocefpaf commented on #126
@SylvainCorlay you are probably having a bad mix of `defaults` and `conda-forge` packages. `defaults` uses `jpeg 8*` while `conda-forge` uses `jpeg 9*`.  If you isolate in an using a channel preference for `conda-forge` you should get a consistent package stack.

[code]

PS: It is quite hard to debug problems with the data from `conda info` and `conda list` so we can know the channels and packages

[2016-11-09 13:08] #126 closed

[2016-11-09 14:26] SylvainCorlay commented on #126
Actually this happens in a conda environment with  `nodefaults`.

[2016-11-09 14:34] SylvainCorlay commented on #126
@ocefpaf you can check out the issue at the following binder : https://github.com/jovyan/jupyter-flight-simulator

[2016-11-09 15:10] ocefpaf commented on #126
I do not recommend doing that. Even though `conda-forge` is incompatible with `defaults` in some key dependencies you still need packages that are in `defaults`, like `libgcc`. See the full error below:

[code]

This worked for me:

[code]

[2016-11-09 15:14] SylvainCorlay commented on #126
The problem is that the default channel's version of ipywidgets and nbpresent depend on a package that overrides all other notebook and server extensions.

This prevents anyone from installing custom jupyter extension at the same time as those.

[2016-11-09 15:18] ocefpaf commented on #126
How about the `conda-forge` version of those? I suggest you fix it there as those would be picked up first.
A `100%` `nodefault` solution is not only unlikely but most of the time not desirable.

[2016-11-09 15:19] SylvainCorlay commented on #126
So the trick to make it possible to have binders for **jupyterlab**, **bqplot**, **pythreejs**, **ipyleaflet** has been to disable the default channel.

[2016-11-09 15:20] SylvainCorlay commented on #126
The conda-forge version of those don't depend on this meta package but don't seem to be picked up by default.

[2016-11-09 15:20] SylvainCorlay commented on #126
ping @bollwyvl

[2016-11-09 16:17] bollwyvl commented on #126
As since the beginning of the whole situation, having sensible conf.d-style loading of jupyter config files (for _all_ config options, not just extension enabling/disabling) would obviate the need for the meta-package, which to please anaconda

Hm, seems like specifying priority should ensure them coming from `conda-forge`... is this caused by some other step that binder does before/after the `env

[2016-11-09 17:32] SylvainCorlay commented on #126
@ocefpaf even when adding the default channel back (but with lesser precedent than the conda-forge channel), I am seeing the same issue

looking for libjpeg files in the binder environment yields:

[code]

So libjpeg 9b is missing.

[2016-11-09 17:50] ocefpaf commented on #126
The recipe disagrees :smile: See  https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/meta.yaml#L40 and https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/meta.yaml#L68

Like I said in https://github.com/conda-forge/gdal-feedstock/issues/126#issuecomment-259410703 , without the `conda info` and `conda list` results we won't be able to find why you are getting downgraded

[2016-11-09 18:23] SylvainCorlay commented on #126
**Conda list shows 8d**

[code]

**Conda info**

[code]

Environment.yml

[code]

[2016-11-09 18:25] ocefpaf commented on #126
The main difference I see is ``conda version : 4.0.5 `` vs ``conda version : 4.1.12`` Can you try to upgrade?

[2016-11-09 19:23] SylvainCorlay commented on #126
OK trying. Is it possible to upgrade conda as part of the environment?

[2016-12-20 12:37] fmaussion opened #131 "ImportError: No module named '_gdal_array' on py3"
Hi,

I don't know when it started but I think it is recent. It happens only on py3, on py2 there is no apparent problem:

[code]

Thanks!

[2016-12-20 12:40] fmaussion commented on #131
Uh, it occurs to me that this is maybe a relative import problem in gdal, not in conda-forge?

[2016-12-20 12:47] kmuehlbauer commented on #131
@fmaussion Can you post the full trace?

[2016-12-20 12:58] fmaussion commented on #131
Yes sorry, the relevant part starts here:

[code]

For the full reports see for example our [appveyor build](https://ci.appveyor.com/project/fmaussion/oggm/build/1.0.454)

[2016-12-20 13:18] ocefpaf commented on #131
I can reproduce that. It seems related to #129. Rolling back the build number fixes it.

[code]

I am checking how to fix this while preserving #129 changes.

[2016-12-21 09:51] #131 closed

[2017-01-02 23:25] ocefpaf opened #136 "Fix gdal 1.x branch"
Not sure what is need to fix it right now but I will take a look soon.

[2017-01-19 00:45] ChrisBarker-NOAA commented on #95
Sorry to re-open an old wound, but this is still a freakin' nightmare, and it seems this issue was closed with a semi-resolution that has not been followed:

"I am convinced we won't be able to use a different name than defaults."

And yet the latest "gdal" from conda-forge is the whole pile, python bindings and all. while defaults still has a "gdal" that is just the python bindings. this is ugly,

[2017-01-25 12:01] ocefpaf commented on #136
Done in #137

[2017-01-25 12:01] #136 closed

[2017-02-06 22:10] davidh-ssec opened #145 "libicui18n.so.56 not found, python 3.4, gdal 2.1.2"
Get this error when attempting to build my package that requires python 3.4 and ends up using conda-forge's gdal 2.1.2 on OSX and Linux (haven't tested windows yet):

[code]

I'm guessing since conda-forge no longer supports python 3.4 I'm SOL? I can't seem to find a version that works anymore since forcing the version that worked before (2.1.1) leads to:

[code]

Any help is much appreciated.

[2017-02-06 22:34] ocefpaf commented on #145
Python 3.4 is no longer supported in `conda-forge` and we also moved the `icu` from `56.*` to icu `58.*`. You are probably seeing that error because you are getting an old build of  `gdal`, pinned to `icu 56.* `, but the rest of the dependencies forced `icu 58.*` to be installed.

You options are to either move to Python 3.5 or 3.6, or to pin `icu 56.*` (and probably `libxml2 2.9.3` too) in your w

[2017-02-06 22:34] #145 closed

[2017-02-06 22:55] davidh-ssec commented on #145
Thanks I figured, but limiting those package versions doesn't seem to help.

[2017-02-06 22:58] ocefpaf commented on #145
Can you share your setup? I can check what else may need to be pinned.

[2017-02-06 23:03] davidh-ssec commented on #145
[code]
The following NEW packages will be INSTALLED:

    affine:          2.0.0.post1-py34_0                 conda-forge
    blas:            1.1-openblas                       conda-forge
    boto3:           1.4.2-py34_0                       conda-forge
    botocore:        1.4.81-py34_0                      conda-forge
    ca-certificates: 2016.9.26-0                        conda-forge
    ce

[2017-02-06 23:09] ocefpaf commented on #145
I meant the setup to build your package. A recipe or a list of dependencies. But the error tells me that you will need an older `libdap4` too. Try: `libdap4 3.18.2`

[2017-02-06 23:48] davidh-ssec commented on #145
Ah thanks. Here's my meta.yaml requirements. Not sure if I still have to list them for both build and run, but I still do that. My package is all python, just lots of dependencies. Any weird version restrictions are mostly because at some point in time the package had errors when installing them:

[code]

[2017-02-06 23:49] davidh-ssec commented on #145
FYI with that libdap4 restriction I get:

[code]

[2017-02-06 23:53] ocefpaf commented on #145
Did you add `icu 56.*` in your tests? (I don't see it there.)
I would also remove `libgdal` on Windows. The `gdal` package from conda-forge is `gdal`+`libgdal`. That is probably another source of headaches.

Another thing that catches my eye is `pyqt ==4.10.4`. In conda-forge we use `4.11.*` and that one is probably from `defaults`, bring another `qt4`, and another set of possible incompatibilitie

[2017-02-07 00:05] davidh-ssec commented on #145
Oh duh, I removed it while testing other stuff. After putting `icu <57` and keeping the `libdap4` restriction I was able to build a package and import it on OSX.

For the pyqt restriction, iirc that was due to a missing library problem that only existing on Windows or something.

We had plans of upgrading to a newer python (honestly in our field using python 3 is still rather new), but some of our

[2017-02-07 11:28] ocefpaf commented on #145
:+1:

The `qt`/`pyqt`package in conda-forge is quite new, and we don't have an OS X version yet, so I recommend you to try it.

I understand that. As I dev I only use Python 3, but as an oceanographer I am stuck with Python 2.7.

:+1:

[2017-02-08 15:18] bucricket opened #146 "proj.4 -> proj4 gdal 1.11.4"
I'm wondering if you can fix the the gdal 1.11.4 version to reflect the proj.4 -> proj4 naming issue. I'm trying to use raster 0.32.0 which depends on 1.11.4 and I get the following decency error when trying to use rasterio to build landsat-util 0.13.1

rasterio 0.32.0* -> gdal 1.11.4 -> proj.4

[2017-02-08 15:24] ocefpaf commented on #146
The renaming happened last year. See https://github.com/conda-forge/gdal-feedstock/pull/125/commits/984b2c8cdd3bab7fb3d2b6985adb743b49dcae98

My guess is that some other dependency is requiring `proj.4` (deprecated) instead of `proj4` (current).

.If you can point me to your software that is causing that error I can try to investigate this, but the problem is not `gdal`.

[2017-02-08 15:24] #146 closed

[2017-02-08 15:30] bucricket commented on #146
Yeah its in the 1.11.4 feedstock see the yaml file below.

# This file created by conda-build 1.20.3
# meta.yaml template originally from:
# /recipe_root, last modified Fri Jun  3 17:53:48 2016
# ------------------------------------------------

package:
    name: gdal
    version: 1.11.4
source:
    fn: gdal-1.11.4.tar.gz
    md5: e9a966f0f5a88c43da47faf78a865952
    patches:
        - install_sc

[2017-02-08 15:34] ocefpaf commented on #146
That is because we have `1.11.5` in the `gdal` series. It should work for you.

[2017-02-08 16:11] bucricket commented on #146
HI,

I’m still trying to get the hang of conda build and anaconda cloud so bear with me.  I’m trying to build a package (landsat-util) that depends on rasterio 0.32.0.  A couple questions:

1. I assume that in the yaml depencies that it chooses the latest build of the version.  Because build 2 of gdal 1.11.5 still has the proj.4 name.  Is that correct?
2. If I really can’t use 1.11.4 I assume it i

[2017-02-08 16:21] ocefpaf commented on #146
No problem.

Is that package on GitHub or somewhere online?

You can pin to `gdal 1.11.5`.

There is no need as long as the rest of the stack "knows" that you should get a higher version.

That is probably the problem here. The last version `rasterio` was built against `gdal 1.11.x`, in theory that should get `1.11.5` but it is not. Probably because that version of `rasterio` is pinned to software

[2017-02-08 16:26] bucricket commented on #146
Hi,

Thanks for the reply.   Landsat-util has no feedstock right now but here is the GitHub site if that helps.

https://github.com/developmentseed/landsat-util.git <https://github.com/developmentseed/landsat-util.git>

PS what do you mean by pin?

Mitch

[2017-02-08 21:07] ocefpaf commented on #146
I am creating one. It is pending the merge of:

https://github.com/conda-forge/scikit-image-feedstock/pull/4

and

https://github.com/conda-forge/gdal-feedstock/pull/147

Pin to a specific version. Like the requirement for `landsat-util`. Although that one is probably too strict and we should check what can be relaxed. See https://github.com/developmentseed/landsat-util/issues/223

I tested locall

[2017-02-08 21:12] bucricket commented on #146
Awesome!  You can look at my channel : bucricket.  I built Landsat-util on OS X-64 but I was struggling on linux.

Thanks
Mitch

[2017-02-08 21:54] bucricket commented on #146
Putting Landsat-util on conda-forge will be great also because it is a very popular tool.  Even Amazon promotes it.

https://aws.amazon.com/blogs/aws/start-using-landsat-on-aws/ <https://aws.amazon.com/blogs/aws/start-using-landsat-on-aws/>

Mitch

[2017-02-21 16:00] dharhas commented on #95
So I spoke to Ilan at AnacondaCon as week or so ago. From his point of view, the reason for the split into libgdal and gdal in default is for speed of testing and building on the CI side of things. i.e. 'libgdal' takes forever to build and test. Then the python bindings 'gdal' can be built and tested really quickly for the matrix of various supported versions of python i.e. 2.7, 3.3, 3.4, 3.5, 3.6

[2017-02-21 17:12] ChrisBarker-NOAA commented on #95
So I spoke to Ilan at AnacondaCon as week or so ago. From his point of
view, the reason for the split into libgdal and gdal in default is for
speed of testing and building on the CI side of things. i.e. 'libgdal'
takes forever to build and test. Then the python bindings 'gdal' can be
built and tested really quickly for the matrix of various supported
versions of python i.e. 2.7, 3.3, 3.4, 3.5, 3.6

[2017-02-23 00:34] jacksongs opened #148 "Linking issue?"
Hello, I opened this on the geopandas issues but [they suggest it may be a linking issue with gdal](https://github.com/geopandas/geopandas/issues/401).

I've been trying to install geopandas into a fresh conda environment (python 3.5 + geopandas) but I keep hitting a strange ImportError when trying to import the package. Can you advise?

This SO question appears to replicate the issue, but the pac

[2017-02-23 03:31] gillins commented on #148
Could this be a `clang`/`gcc` incompatibility? `gdal` and most conda-forge packages use `clang`  but this is the kind of error you get when there is a mix of compilers used.  Might be worth checking how `geopandas` and `fiona` is built...

[2017-02-24 13:31] ocefpaf commented on #148
@jacksongs I am in transit but I can do some tests once I get settle.
What is puzzling is that our builds are OK. I even run the whole test suite for `Fiona` in the CIs.

[2017-02-24 17:54] ChrisBarker-NOAA commented on #95
@ocefpaf wrote:

Any word form continuum on this? If they can simply leave it to conda forge in the future, that would simplify all this.

fair enough -- and if we keep going with the status quo -- it should stabilize a bit. I _think_ we are recommending that folks put conda-forge before defaults, and then things should "just work", yes?

Unless there is a package with an explicit libgdal dependen

[2017-02-24 18:31] mingwandroid commented on #95
We can't leave things to `conda-forge` that we depend on since we're not binary compatible, unless I'm missing something here?

[2017-02-24 21:19] ChrisBarker-NOAA commented on #95
If other default packages depend on gdal, then it should be well supported. At least if those are "first class citizens" anyway.

[2017-02-24 21:28] mingwandroid commented on #95
The problem goes deeper than that. Everything that depends on anything that gdal depends on needs to be binary compatible between the two endeavours.

[2017-03-16 22:03] gillins commented on #148
Seems fine for me in a fresh environment. Can you try again and confirm if you are still getting the problem or not? Thanks

[2017-03-16 22:06] chloechen1995 commented on #148
I have the same issue with the Jupyter notebook. I am using Python 2.7. Any suggestions?

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-44e7dc23878c> in <module>()
      5 from mpl_toolkits.basemap import Basemap
      6 import numpy as np
----> 7 import fiona

/Users/Chloeche

[2017-03-16 22:44] gillins commented on #148
I think you have a mix of stuff from the anaconda install and conda-forge. Can you try installing into a fresh environment (conda create -n test fiona) and see what happens?

[2017-03-17 12:34] ocefpaf commented on #148
Please take a look at https://github.com/conda-forge/conda-forge.github.io/pull/325 I am writing some docs that may help you understand what is going on.

[2017-03-26 15:52] dcsoft4 commented on #54
I had this issue with Anaconda2 4.3.1.  I had to remove the double-quotes around the value of the GDAL_PATH environment variable.  Originally the batch file set

    set GDAL_DATA="%~dp0\..\..\..\Library\share\gdal"

It worked after I changed it to

    set GDAL_DATA=%~dp0\..\..\..\Library\share\gdal

[2017-03-26 21:45] gillins commented on #54
Are you installing GDAL from conda-forge? If not please report this to the Anaconda team. GDAL 2.1.3 from conda-forge has this already set correctly (see https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/scripts/activate.bat#L7).

[2017-03-28 02:51] dcsoft4 commented on #54
I'm sorry, I'm fairly new.  I opened an Anacondra Prompt and typed `conda install gdal` which installed GDAL 2.1.0.

[2017-03-28 03:17] gillins commented on #54
No worries - sorry I was a bit brief. I think you are looking for the Anaconda bug tracker (https://github.com/ContinuumIO/anaconda-issues). The Anaconda packages are managed by Continuum.

This bug tracker is for the conda-forge community maintained packages (see https://conda-forge.github.io/) which use different recipes (from this github repo). You can either swap to using conda-forge packages

[2017-03-29 22:57] dcsoft4 commented on #54
Thank you for all your help!  I have created an [Anaconda issue](https://github.com/ContinuumIO/anaconda-issues/issues/1564).

[2017-04-05 16:42] Auerilas opened #151 "GDAL looking for old version of libgeos"
Hi,
I recently switched to the conda forge channel and updated all my packages. It seems as though all the spatial libraries (geopandas, fiona, etc), which depend on gdal, were looking for an older version of libgeos than existed.

When attempting to import gdal, I would get this error:
`ImportError: libgeos-3.5.0.so: cannot open shared object file: No such file or directory`

conda-forge had inst

[2017-04-05 16:54] ocefpaf commented on #151
`gdal` is pinned to `geos 3.5.*` and not geos `3.5.0`. See https://github.com/conda-forge/gdal-feedstock/blob/master/recipe/meta.yaml#L40

That means the latest `gdal` build was built against `geos 3.5.1`. I am guessing you may have a bad mix of `defaults` and `conda-forge` packages. (See http://conda-forge.github.io/docs/conda-forge_gotchas.html#using-multiple-channels)

[code]

We could ping `gd

[2017-04-05 16:54] #151 closed

[2017-04-05 17:10] Auerilas commented on #151
Hi,

I checked my priority settings:

[code]

which look OK per the link above. To test, I removed gdal, fiona, shapely, geos, and all spatial packages and reinstalled.

[code]

and I'm getting the same error about geos 3.5.0.

If I'm reading the install correctly, is conda not using conda-forge to install gdal and libgdal, while using conda-forge for geos and fiona?

[2017-04-05 17:12] ocefpaf commented on #151
The fact that you are getting `libgdal` indicates that somehow `defaults` is getting some priority. Did you try in a fresh env like in my example above. Note that https://github.com/conda-forge/conda-forge.github.io/issues/367 won't help you here because `conda` will wiggle its way out of the pin by installing `defaults` version.

[2017-04-05 17:19] Auerilas commented on #151
The new environment did work. Is there any way to force conda to install the conda-forge version of a package? I'm not sure why defaults gets priority on some packages. For example, when I created the new environment, scipy and numpy were installed from the default channel. In my root environment, though, both packages come from conda-forge.

[2017-04-05 17:22] Auerilas commented on #151
I ask because this:

[code]

appeared not to force the install from conda-forge.

[2017-04-05 17:24] ocefpaf commented on #151
Are you using Anaconda and installing in the root env? That may be troublesome b/c conda is trying to optimize for all the pre-installed packages. There is not much we can do besides forcing like you did above,  but that may lead to broken envs. ideally we should always work with envs and not the root env to avoid that.

[2017-04-05 19:33] Auerilas commented on #151
Hmm. ok. I'll look into using an environment, but I tend to use the same packages for everything so maybe one environment that contains all my packages might be all I need.

Other than that, I'll keep using my forced downgrade as long as it works. Thanks for the help!

[2017-04-07 12:05] gvellut opened #152 "Enabling LibKML Driver"
I am using GDAL on Windows 10 with a Python 2.7 32bit environment. My GDAL env entry is:

I noticed the KML driver used by OGR is still the old / standard one (http://www.gdal.org/drv_kml.html).
With ogrinfo --formats :

Is there a possibility of including the LibKML driver for OGR (http://www.gdal.org/drv_libkml.html) as well in the future ? It has some nice enhancements like support for reading

[2017-04-07 13:42] ocefpaf commented on #152
I am not familiar with this driver. Do you know if that is only a compiler flag option that needs to be on? Or do we need to package another library and link to it? If you know what is necessary to enable do you want to try a PR?

[2017-04-07 13:51] gvellut commented on #152
Here is what the LibKML driver page says :

So yes there is indeed an additional dependency, not just a flag.
I will try a PR.

[2017-04-07 13:53] ocefpaf commented on #152
Thanks. We fist need the dependency as a feedstock, so we need a PR to https://github.com/conda-forge/staged-recipes

(Let me know if you are not familiar with conda-forge details.)

[2017-05-04 23:21] pkmn99 commented on #83
I have exactly the same problem with gdal 2.1.3. The export trick can fix it. Don't know why.

[2017-05-11 11:29] ocefpaf commented on #148
Closing this. If you are still suffering from that let us know but http://conda-forge.github.io/docs/conda-forge_gotchas.html should help.

[2017-05-11 11:29] #148 closed

[2017-06-05 23:35] microe opened #158 "Install of 2.1.3 and 2.2.0 broken because of a lack of dependency on icu"
If one installs the gdal conda package, the libgdal.so will have trouble finding the icu library:
[code]

Installing the icu package fixes this:
[code]

The gdal conda package should depend on icu so that this dependency can be met at installation time.

[2017-06-06 00:43] ocefpaf commented on #158
This looks like a case of http://conda-forge.github.io/docs/conda-forge_gotchas.html#using-multiple-channels

Can you check if you have an updated conda, with the channel preference feature, and that you have the conda-forge on top of `defaults`?

[2017-06-06 17:53] michaelaye commented on #145
See the same error with python 3.6 and icui18n.58 now?

[code]

[2017-06-06 17:54] michaelaye commented on #145
most likely standard prob of mixing defaults with conda-forge. will try conda-forge only.

[2017-06-06 18:25] ocefpaf commented on #158
Closing this because we don't really need to specify `icu` in `gdal` from `conda-forge`. Please let me know if the info above helped you to solve this issue on your end.

[2017-06-06 18:25] #158 closed

[2017-06-06 19:53] microe commented on #158
I appreciate the advice.

I did this:
[code]

Using ```conda config --system --prepend channels conda-forge```.

When I try to install gdal:
[code]

So I am either not doing the right thing or this doesn't work.

[2017-06-06 20:02] microe commented on #158
Any consideration to versioning the xerces-c dependency so that version 3.1.4-3 is looked for and hopefully picked up from conda-forge?

[2017-06-06 20:06] ocefpaf commented on #158
Are you using the Anaconda distribution and trying to install it in the root env?
Try a fresh env instead, this should avoid clashing with Anaconda's distro packages.

`conda create -n GDAL python=3.6 gdal`

[2017-06-06 20:20] microe commented on #158
Yes, I am using the Anaconda distribution and I am trying to install it into the root env.

I have already tried the fresh env route and although that works by example, I have some constraints that make it more helpful to use the distribution. I wanted to see if all options were exhausted to get this to work upstream before doing my own workarounds.

[2017-06-06 20:25] ocefpaf commented on #158
Sorry but `conda-forge` packages are not 100% compatible with the Anaconda distro and you won't be able to make that work. We do recommend the use of `miniconda` when adding `conda-forge` as your preferred channel to avoid such issues.

[2017-06-22 02:21] gboeing commented on #151
@ocefpaf I'm experiencing the same issue when I try to test OSMnx with Travis CI today. I'm testing it with Python 2.7, 3.5, and 3.6 in a virtual environment and with conda-forge at the top of my channel URLs. The [Python 3.6](https://travis-ci.org/gboeing/osmnx/jobs/245602534) test works fine, and it correctly installs libgdal (v2.2.0-0) from conda-forge. However, the [Python 2.7](https://travis-

[2017-06-22 11:05] ocefpaf commented on #151
@gboeing it is always annoying when the channel preference fails like that. You should not get `libgdal` from `defaults` with that configuration!

BTW, note that we changed to `libgdal`+`gdal` this week, see https://github.com/conda-forge/staged-recipes/pull/3143 for the details. I am investigating why that is happening :unamused:

Pinging @msarahan.

[2017-06-22 12:36] ocefpaf commented on #151
@gboeing https://github.com/gboeing/osmnx/pull/64 should help us understand what is going on.

Note that the problem was probably because not all packages (`libgdal`, `gdal`, and their dependencies compiled with `numpy 1.13`) were available yet when that test ran. This means that maybe things are just "fixed" now. However, conda should not revert to another channel in order to satisfy the packages

[2017-06-22 15:47] gboeing commented on #151
Looks like things are indeed fixed now. Thanks.

[2017-06-28 20:04] gilliM commented on #145
@michaelaye Did you fix it ? I tried a lot of options already...

[2017-06-30 17:01] michaelaye opened #165 "libgdal linked to older gdal"
The conda-forge upgrade for libgdal (2.2.1.0) just downgraded my gdal from

2.2.0-np112py36_3

to

2.2.0-np112py36_2

Just checking if that was intentional?

[2017-06-30 17:07] ocefpaf commented on #165
The `gdal` package for 2.2.1 is probably not in the channel yet. There is some transition time now that we have two different packages. However, I believe that build number downgrade is completely unrelated b/c a `libgdal` version can only be installed with the same `gdal` version.

[2017-06-30 17:07] #165 closed

[2017-07-02 16:55] ocefpaf commented on #120
@pkg added `poppler` some time ago (thanks!), and I added it as a dependency in https://github.com/conda-forge/libgdal-feedstock/pull/3

[2017-07-02 16:55] #120 closed

[2017-07-02 16:55] ocefpaf commented on #152
Should be working now, see https://github.com/conda-forge/libgdal-feedstock/pull/3

[2017-07-02 16:55] #152 closed

[2017-07-02 16:57] ocefpaf commented on #83
@akorosov I am fixing this as a "won't fix" b/c we never found out the root of the issue and we do have a workaround for it.

[2017-07-02 16:57] #83 closed

[2017-07-25 18:29] megies opened #167 "numpy types not accepted, explicit casting to Python builtin types necessary"
I'm a bit unsure were to report this upstream, as the gdal site seems really C-oriented and this is a pure Python-implementation issue..  can you please let me know where to best report the following issue?

Several `gdal` methods that operate with accept integer/float types raise exceptions with very strange error messages when numpy types are fed to them. For the user an explicit type casting is

[2017-07-25 19:09] ocefpaf commented on #167
I believe that this is indeed an upstream issue. The swig auto-generated python bindings are supported.

BTW did you try to `rasterio`? It should be much easier to use than `gdal`'s python bindings.

[2017-07-25 19:09] #167 closed

[2017-07-29 10:52] gillins commented on #167
Or try `rios` :smile:

[2017-08-01 19:55] microe opened #169 "gdal fails to load with libcurl undefined symbol"
I have a conda environment for my project, it has the latest gdal package installed into it. When I try to import the gdal module, it fails on an undefined symbol in libcurl.
[code]

I can import the module in ipython just fine:
[code]

I can run tests on my custom module (msp) without problems.

I have openssl installed into my environment:
[code]

The openssl build has that symbol:
[code]

The l

[2017-08-01 20:12] ocefpaf commented on #169
Can you try it from a clean environment?

[code]

Also please send the results from `conda list` and `conda info` for that environment.

PS: I cannot reproduce it locally.

[2017-08-01 20:56] microe commented on #169
I am not at all surprised that you cannot reproduce. My environment is a bit pathological. Listing at the bottom.

[code]

[code]

[code]

```conda list``` for the environment where it is failing:
[code]

[2017-08-01 21:02] ocefpaf commented on #169
It is not that bad. Only "expected" packages from `defaults` and those from `conda-forge` look consistent. Without more details on your package and your workflow to build it I cannot help you further...

[2017-08-01 22:46] microe commented on #169
This script when run by the python executable in the environment fails without having to load my custom package or having to do anything with my workflow. It does import ```matlab.engine```:
[code]

It turns out that MATLAB includes its own build of libssl.so.1.0.0:
[code]

This build of libssl does not have ```SSL_CTX_set_alpn_protos```.

If you comment out the ```import matlab.engine``` then the

[2017-08-01 22:46] #169 closed

[2017-08-01 22:47] ocefpaf commented on #169
No problem! Glad you could sort it out :smile:

[2017-08-01 23:32] microe commented on #169
I was able to work-around this issue by judiciously replacing shared libraries in the matlab install area. I do not suggest others do this, but I had to replace libssl, libcrypto and libcurl with the libraries from my conda environment. KLUDGE!

[2017-08-03 09:39] megies commented on #167
Thanks for the refs to `rasterio` and `rios`, I'll check it out when I have more time. Currently I only have some simple use cases of e.g. creating geotiff from numpy arrays or shapefiles from dictionary-like object collections. For these I have some code snippets I've been using for quite a while, so I'm not gonna change my running system right now. But I'll definitly check those other projects o

[2017-08-11 16:32] gbrener opened #170 "Installation order seems to matter"
Hello, I'm experiencing an issue with installing a conda package for a C++ binary that depends on `gdal`. I have an _environment.yml_ file that looks something like this:

[code]

After a `conda env create && source activate some_env`, executing a Python wrapper for cpp_conda_pkg gives me the following error at runtime:

[code]

The error no longer occurs when I re-install `gdal` with the followin

[2017-08-11 16:34] ocefpaf commented on #170
@gbrener can you send the results of `conda info` and `conda list` from before and after you force it to re-install?

[2017-08-18 06:57] shanyuk commented on #69
You should make sure your jpeg

[2017-08-18 11:54] ocefpaf commented on #170
@gbrener I need your `conda info` and `conda list` results otherwise I cannot debug this. I cannot reproduce it locally with your env file. Which means you may have an outdated version of something or it is specific to OS X.

[2017-08-18 17:11] gbrener commented on #170
Ok, not a problem @ocefpaf. Below are `conda info` and `conda list` results for both OSX and Linux:

## OSX
`conda info` and `conda list` are the same before and after re-installing `gdal`:

OSX _conda info_:
[code]

OSX _conda list_:
[code]

## Ubuntu
On Linux, `conda info` and `conda list` output also does not change after re-installing gdal:

Linux _conda info_:
[code]

Linux _conda list_:
[cod

[2017-08-18 17:28] ocefpaf commented on #170
I need find if we have some old unpinned (or bad pinned) package that is causing this and remove it from the channel. In theory, if conda respected the higher build number, this should not happen.

Here is a temporary workaround until I fix this.

[code]

By forcing `gdal 2.1.*` in the env you should get all packages consistent with that version of `gdal`.

[2017-08-18 17:35] ocefpaf commented on #170
`rasterio` is properly pinned to `libgdal 2.1.*`, that is why you get that version of `libgdal`, but because you specify `gdal` (the python wrapper) we end up with the latest version of `gdal` that requires a different version of the `libgdal` installed. IMO conda is fundamentally broken when it allows something like that to happen.

Unfortunately conda has is no advanced concept of incompatibilit

[2017-08-18 17:35] #170 closed

[2017-08-18 17:53] msarahan commented on #170
FWIW, I don't think there's a fundamental problem with conda.  Version constraints can capture the incompatibility here.  The crappy thing is that without conda-build 3's pin_compatible, it's much harder to keep track of.  @ocefpaf if I can help you understand how to modify these recipes so that conda-build 3 helps capture compatibility bounds here, let me know.  Might be good to have a quick scre

[2017-08-18 17:56] ocefpaf commented on #170
I still believe that how conda treats build numbers is "broken," but we don't need to debate that.
And yes, `conda-build 3` seems the way to go.

Sure let us do that! Schedule a time? Or do you want to try a PR to `libgdal` as an example that I can follow up later?

[2017-08-18 18:46] msarahan commented on #170
I will submit a PR, and then let's schedule a time to go over it on a call.  It'll be easier to explain that way.  I'll also comment it a lot.  We can decide whether to keep the comments or not later.

[2017-08-18 18:48] ocefpaf commented on #170
Awesome! Sound like a plan. Let's us that experiment to write some docs on how to move to conda-build 3 for conda-forge. (I'll write you review :wink:)

[2017-08-30 21:11] snowman2 opened #174 "osgeo/_gdal.so: undefined symbol: VSISupportsSparseFiles"
This occurred when building the GSSHApy package.

URL to failed build: https://circleci.com/gh/conda-forge/gsshapy-feedstock/21

[code]

[2017-08-30 23:41] ocefpaf commented on #174
I am quite puzzled how conda can install `fiona`, which is pinned to `libgdal 2.1.*` along side `gdal 2.2.*` that explicitly requires `libgdal 2.2.*`. Anyways, I gave up trying to understand that and get the usual response... We need to "tricky" conda by requiring `gdal` instead of `libgdal` in `fiona`. (I am working on that.)

Meanwhile you can add a dummy requirement for `libgdal 2.1.*` in your

[2017-08-30 23:41] #174 closed

[2017-08-31 07:49] kikocorreoso opened #175 "ImportError: DLL load failed"
Hi all,

I'm having problems installing `gdal` on a W7 32 bits box.

`Python 3.6.1 | packaged by conda-forge | (default, May 23 2017, 14:20:21) [MSC v.1900 32 bit (Intel)]`

When I try to import it:

`from osgeo import gdal`

I get the following `ImportError`:

[code]

Thanks for the hard work.

[2017-08-31 08:15] kmuehlbauer commented on #175
@kikocorreoso

Please use a dedicated environment, eg:

[code]

[code]

If this doesn't help, please post the output of

[code]

and

[code]

[2017-08-31 08:27] kikocorreoso commented on #175
It works like a charm in its own environment.

Is there any problem compatibility problem or conflict with preinstalled libs if I try to install it in the root?

Thanks again.

[2017-08-31 08:27] #175 closed

[2017-08-31 08:30] kmuehlbauer commented on #175
@kikocorreoso

Glad it worked!

Installing in root environment is not recommended due to possible clash with defaults-packages. @ocefpaf surely has a more in-depth answer for you.

[2017-08-31 08:35] kikocorreoso commented on #175
Thanks again for your time and explanation.

[2017-08-31 11:12] ocefpaf commented on #175
Yep. That is pretty much it :smile:

Take a look at the docs on the matter and let us know if it is clear enough. (This problem is so common that we could use a review, and maybe rewrite, of the docs.)

https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels

[2017-08-31 12:38] kikocorreoso commented on #175
x2 😄

[2017-08-31 12:57] snowman2 commented on #174
@ocefpaf, where would be the best place to post this issue?

[2017-08-31 12:58] snowman2 commented on #174
Also, did you mean `libgdal 2.2.*`?

[2017-08-31 13:03] ocefpaf commented on #174
if you are referring to this comment:
[code]

I meant `libgdal 2.1.*`. That is b/c `libgdal 2.2.*` would work with fiona and for some odd reason conda is putting inconsistent packages in the same env.

Somewhere in the conda solver. But good luck getting their attention to this. You'll get the same answer we always got. The solver is perfect and you are using it wrong :unamused:
(Sorry for the ran

[2017-08-31 13:08] ocefpaf commented on #174
BTW, latest `fiona` should work with `libgdal 2.2.*`. I just did not had the time to re-build it and re-pin everything yet. Should be done by the end of the week. That should help you there too.

[2017-08-31 13:10] snowman2 commented on #174
That is frustrating! Thanks for getting back to me. I am trying out the solution in the gsshapy-feedstock now.

[2017-08-31 13:11] snowman2 commented on #174
As a side note, for some reason it works on Windows and on Python 3.5 on OSX (https://travis-ci.org/conda-forge/gsshapy-feedstock/jobs/270057842).

[2017-08-31 13:22] ocefpaf commented on #174
Probably b/c the available packages for the solver are different.

The root of the issue is:

`fiona` is pinned `libgdal 2.1.*` but `conda` tries to be "smart" and installs latest version of everything it can, so you get `gdal 2.2.*` (some package there is requiring the python bindings) but `gdal 2.2.*` is, obviously, pinned to `libgdal 2.2.*` and `fiona`'s pin is ignored!

A proper solver would n

[2017-08-31 13:49] snowman2 commented on #174
I just had to pin `gdal 2.1.*` and it worked for now. Thanks for helping!

[2017-09-05 01:46] davidh-ssec commented on #170
FYI I had this same issue when building a package that depends on gdal, rasterio, and python 3.6. I did the recommended workaround, but got an error about unsatisfiable dependencies and listing only gdal. I then switched it to just `gdal ==2.1`, but that failed since that exact version is only available on python 3.5. I did get it to work by doing `gdal >=2.1,<2.2`.

[2017-09-29 11:17] scienceyogi opened #177 "ImportError: dlopen(/Users/name/anaconda/lib/python2.7/site-packages/osgeo/_gdal.so, 2): Library not loaded: @rpath/libjpeg.8.dylib"
So I've had to install GDAL on 6 computers in the last month, I had this down to an art, but all of the sudden, my fool-proof install stopped working. Here is what I did:

Install Anaconda
conda update conda

[code]

In the past when I fumbled through gdal installs I had to install jpeg - tried that. Nothing.

[2017-09-29 14:27] ocefpaf commented on #177
Please take a look at https://conda-forge.org/docs/conda-forge_gotchas.html

[2017-09-29 14:27] #177 closed

[2017-09-29 16:53] scienceyogi commented on #177
For the record:

conda config --add channels conda-forge

Puts channels in the right order.

What worked? (the final comment in document)
"In addition to the channel priority we recommend to always install your packages inside a new environment instead the root environment from anaconda/miniconda. Using envs make it easier to debug problems with packages and ensure the stability of your root env."

[2017-09-29 16:56] ocefpaf commented on #177
conda config --add channels conda-forge
Puts channels in the right order.

The docs are not only about the channel order, please see the note regarding the use of anaconda distribution and the bundled software that comes with it.

Yep. Forcing install `jpeg` is not the answer. one need a clean slate to avoid "confusing" the conda solver.

[2017-10-06 15:45] ebo commented on #174
Just to complicate things a bit...  When I tried to update libgdal it tried to downgrade gdal.  The solution I found was to pin both gdal and libgdal (2.2.1)

[2017-10-11 22:14] grantdelozier opened #178 "Gdal "image not found""
Hi there,

Appreciate your work on this project. I had some trouble installing on Mac OSX 10.12.5

[code]

I'm not sure how to parse this error message, any idea how to fix it?

[2017-10-11 22:39] grantdelozier commented on #178
Ah it was something with the environment messing it up. I wanted root to be able to run it, but looks like I'll have to use environments

[code]
closing

[2017-10-11 22:39] #178 closed

[2017-10-11 22:39] grantdelozier commented on #178
Might be helpful to include those couple lines in the readme

[2017-10-12 06:06] michaelaye opened #179 "Pure conda-forge gdal does not import"
Running Python 3.6 on macOS 10.12.6 via conda-forge in its own env (with a TON of other stuff of course).

[code]
Here's my conda list gdal:
[code]
This actually looks like it could be a kealib issue?

[2017-10-12 06:10] gillins commented on #179
Can you try updating `libgdal` to the latest build (should be build number 4) and see if the problem is fixed? I believe this would have been addressed in https://github.com/conda-forge/libgdal-feedstock/pull/13 but the OSX packages for this have only been uploaded in the last hour or so....

[2017-10-12 06:13] michaelaye commented on #179
Yup, fixed it! Great job guys and inhuman response time! ;)

[2017-10-12 06:13] #179 closed

[2017-10-25 12:49] jgomezdans opened #180 "krb5 dependency missing on MacOSX"
For the current conda-forge GDAL package, there is no dependency on krb5. I'm guessing that this is a dependency inherited from libcurl, but basically renders GDAL unusable on MacOSX. Can be solved by installing krb5 directly with conda.

[2017-10-25 12:52] jgomezdans opened #181 "Mismatch between gdal and libgdal on current Win conda-forge install"
Trying to install gdal from conda-forge results in a missing library issue on Windows 10. Upon closer inspection, it's the same problem reported [here](https://github.com/ContinuumIO/anaconda-issues/issues/1687), in a nutshell that you install different versions of gdal and libgdal. You can solve it by installing gdal and making sure you also install libgdal=2.2.2 (e.g. specifying the libgdal vers

[2017-10-25 13:27] ocefpaf commented on #181
That is unfortunate. I had only "gdal" in the past to avoid that mismatch and conda refuses to obey the pinning there :unamused:

I don't have a solution for you. Sometime the instructions [here](https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels) help.

I am closing as won't fix b/c there is nothing we can do at the moment.
In theory moving to `conda-build 3` will help

[2017-10-25 13:27] #181 closed

[2017-10-25 13:59] ocefpaf commented on #180
I am guessing conda is making a mess there b/c when you pull `curl` you should pull `krb5` too. Please install in a clean env (`conda create --yes -n TEST gdal -c conda-forge`) and report back here the channel where the packages are coming from (`conda list`).

[2017-11-01 17:38] Auerilas opened #182 "Error importing gdal in root environment"
Hi,
I just installed conda in my root environment (which I typically use):

`conda install gdal`

Everything installed OK, but when I load python and try to import gdal, I get a strange error:
[code]
It seems like there is a dependency issue, because I created a new environment, installed gdal, and everything loaded OK.

[code]

Here are the package lists for the root envionment:
[code]

and for t

[2017-11-01 17:46] ocefpaf commented on #182
For some reason you got `libgdal` build number 3 there and that probably has an issue with a recent change in `kealib`. However, there is no reason why conda chose 3 in instead of 4 :unamused:

Anyway, I removed all build number but 4 and in theory everything should work now.
Can you try it and report back?

[2017-11-01 17:46] #182 closed

[2017-11-01 17:54] Auerilas commented on #182
There's still a dependency conflict with build 4. Attempting to reinstall libgdal dropped me down a version (libgdal 2.2.1, build2), and it still didn't work. When I tried to force an install of libgdal 2.2.2 build 4, I got a conflict.

[code]

[2017-11-01 18:06] Auerilas commented on #182
I was able to get it to work by forcing a remove of libboost and reinstalling gdal. This resolved the zlib issue:

[code]

Seems to have done it, no more import errors.

[2017-11-02 12:54] akgjertsen opened #183 "Install of GDAL with conda fails"
GDAL will not work after installing with
`conda config --add channels conda-forge`
`conda install gdal`

I have a new Anaconda installed:
Python 2.7.14 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:34:40) [MSC v.1500 64 bit (AMD64)] on win32 and conda 4.3.29 on a Windows 10 machine. (Version 1703 (OS-build 15063.674).

The error message I get is:

[code]
I installed an earlier Version of GD

[2017-11-02 13:08] ocefpaf commented on #183
I see you are using the anaconda distribution. Are you installing `gdal` in the root environment? That won't work due to all the pre-installed packages bundled in the anaconda distribution. Can you try installing `gdal` in a new environment and test it? For example:

[code]

See https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels for more info.

PS: When using `gdal 2.1.0

[2017-11-02 13:43] ocefpaf commented on #183
I can read a `j2k` file, which I assume is similar to `jp2`, on Linux.
Can you provide a simple `jp2` so I can add it as a test in the CIs? That way we can check if it works on Windows and OS X too.

[2017-11-03 09:45] akgjertsen commented on #183
I have now tested what you suggests. But I get the same error.

[code]
[code]

[code]

In my root environment I get this result which is as expected:

[code]

[code]

My test jp2 file is 101 MB. How can I upload it so you can test it?

Many thanks for your respons!

[2017-11-03 10:44] ocefpaf commented on #183
That won't do. We need a simpler one. I'll see if I can make one.

It is possible that the driver is working on Linux and not on Windows.
I'll try to add a test for it once I create the file.

[2017-11-03 12:55] akgjertsen commented on #183
It seems the issue not only has to do with failing jp2 driver. I tested this today on a tif file:

[code]

And then the same on my root environment:

[code]

Could it be that some paths are missing/set wrong? It seems it cannot find a module named **_gdal.**

[2017-11-07 01:11] jgerardsimcock commented on #151
I have created a new env and set conda-forge as my preferred channel. After installing geopandas, I am getting this error. pinning geos to 3.5.0 solved this problem.

[2017-11-17 20:31] aashish24 opened #187 "Build gdal with external geotiff to avoid seg-faults"
Currently it uses internal geotiff which is not mangled.

[2017-11-18 22:52] gillins commented on #187
Good point.  I'll look at getting a geotiff recipe in conda-forge this week.

[2017-11-19 01:00] aashish24 opened #188 "conda build failing on Mac High Sierra"
I am getting segfault and it is not clear to me why, any help is appreciated.

pushd /var/folders/53/trp_hw7d3w5194x46t8x84jw0000gn/T/tmp_qVbNg/info/recipe/test_data/
/var/folders/53/trp_hw7d3w5194x46t8x84jw0000gn/T/tmp_qVbNg/info/recipe/test_data ~/miniconda2/conda-bld/libgdal_1511050257868/test_tmp
+ proj4='+y_0=2400761.714982585 +lat_ts=-19.6097 +a=6378137.0 +proj=merc +units=m +b=6356752.3142

[2017-11-19 01:00] aashish24 commented on #187
thanks @gillins I have a patch if you would like me to push it. Looks like we will need to add geotiff to conda-forge as well.

[2017-11-19 01:15] gillins commented on #187
Yes it's been something that has been missing for a while. I've made a start here: https://github.com/gillins/staged-recipes/tree/geotiff/recipes/geotiff. I'll look at getting Windows building tomorrow, then add a PR. Let me know if you have any comments.

[2017-11-19 05:39] aashish24 commented on #188
never mind, should have posted this in the libgdal but I think I found my problem.

[2017-11-19 05:39] #188 closed

[2017-11-21 16:58] jgomezdans commented on #180
I'm sorry it took so long, but didn't have access to a Mac... here's the result of `conda list`
[code]

[2017-11-21 17:10] ocefpaf commented on #180
Is this still an issue? I see `krb5` in that list and it seems you are getting the right `curl` there.

[2017-11-21 17:35] ocefpaf commented on #180
That won't work. The pre-installed packages from the anaconda distro are known to interfere with the solver and break things. The only way to test this is via a fresh env with `conda create --yes -n TEST gdal -c conda-forge`.

[2017-11-21 23:21] gillins commented on #187
Fixed by https://github.com/conda-forge/libgdal-feedstock/pull/20 and https://github.com/conda-forge/libgdal-feedstock/pull/21

[2017-11-21 23:21] #187 closed

[2017-11-22 00:24] aashish24 commented on #187
thanks @gillins I will give it a try and let you know if I run into any issue thanks a bunch!

[2017-11-22 16:30] mccarthyryanc opened #189 "Import error with undefined symbol"
I'm getting this error after installing in Ubuntu 16.04:

[code]

Installed via conda with:
[code]

[2017-11-22 16:37] mccarthyryanc commented on #189
Perhaps this is actually an error with [curl](https://github.com/conda-forge/curl-feedstock/issues/23)?

[2017-11-22 16:37] ocefpaf commented on #189
Same answer from https://github.com/conda-forge/rasterio-feedstock/issues/48#issuecomment-346405164 :smile:

[2017-11-22 16:38] ocefpaf commented on #189
Please see my answer before opening another issue :wink:

[2017-11-24 13:22] Liamdelee opened #190 "libxerces-c-3.1.so: cannot open shared object file: No such file or directory"
hi there
 i am pritty new to gdal and stuff and i got it u and running on an amazon ec2 instance but now i am porting it to an amazon elastic map reduce and i got miniconda installed and working with python2.7 got matplotlib installed and is importing without any erros but now i am installing gdal and this give me this wierd error:
libxerces-c-3.1.so: cannot open shared object file: No such file o

[2017-11-24 13:25] ocefpaf commented on #190
First take a look at: https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels

And we are going to need more details. Which version of `gdal`? How you installed it? Can you try a clean env and report if you still see the error?

[2017-11-24 13:30] Liamdelee commented on #190
thanks for your fast answer,

i am running gdal 2.2.2 the latest you get with conda install gdal on python 2.7.
installed it using conda install gdal after i did conda config --add channels conda-forge
this is a full clean env for the second time so i don't think this is where the problem lays.

[2017-11-24 13:33] Liamdelee commented on #190
okay i just found out that it did install xerces-c 3.2.0 but i have no idea how to downgrade that to 3.1.4
can you help me out with that?

[2017-11-24 13:35] #190 closed

[2017-11-24 13:35] Liamdelee commented on #190
fixed the problem with doing: conda install xerces-c

[2017-11-27 21:20] snowman2 opened #193 "libpoppler"
## Error Message:
[code]

[2017-11-27 21:22] snowman2 commented on #193
[code]

[2017-11-27 21:24] snowman2 commented on #193
It works with:
[code]
It fails with:
[code]

[2017-11-27 21:33] ocefpaf commented on #193
Yep. `poppler` was version, `gdal 2.2.3`, will fix that. See https://github.com/conda-forge/gdal-feedstock/pull/192

[2017-11-27 21:33] #193 closed

[2017-11-27 21:33] snowman2 commented on #193
Same issue on Python 3.6:
[code]

[2017-11-27 21:33] ocefpaf commented on #189
Closing this and will follow it in the curl feedstock. Thanks for the report @mccarthyryanc!

[2017-11-27 21:33] #189 closed

[2017-11-28 05:54] stoiver commented on #179
@gillins I seem to be having the same trouble running Python 2.7 on ubuntu 16.04  via conda-forge in its own env

[code]
And it seems for me the latest version of gdal is version 2.2.2.

[code]

[2017-11-28 07:07] gillins commented on #179
@stoiver I think this is the relevant issue: https://github.com/conda-forge/libgdal-feedstock/issues/28. Moving the discussion there.

[2017-12-12 13:46] lanadaquenada opened #194 "Install gdal with conda in ubuntu, python 3.6?"
I know this has been asked before but I cannot get my gdal to work. I tried using some of the anwers I saw around, but I must have done something wrong because I broke spyder (and couldn't find an easy solution), so I deleted my whole anaconda3 directory and installed it again to see if gdal works.

After installing anaconda3, I installed gdal as it says in https://github.com/conda-forge/gdal-feed

[2017-12-12 13:58] kmuehlbauer commented on #194
Yes, do not use root-environment:

[code]

[2017-12-12 14:10] lanadaquenada commented on #194
@kmuehlbauer So I need to run a separate script for gdal only?

[2017-12-12 14:13] kmuehlbauer commented on #194
@lanadaquenada No, you would install all packages you need for your specific tasks into this environment. That keeps the problems to a minimum.
I really can't imagine a task where you would need all anaconda-packages in one environment.

[2017-12-12 14:18] kmuehlbauer commented on #194
The problems you have with the root-environment is, that you have packages from `default` and from `conda-forge`. This is known to fail in some cases. You can avoid that, by creating dedicated environments for specific tasks.

[2017-12-12 15:27] lanadaquenada commented on #194
@kmuehlbauer This seems like a good enough solution. Thanks for the help!

[2017-12-12 15:52] kmuehlbauer commented on #194
@lanadaquenada You're welcome. I'll close this issue then.

[2017-12-12 15:52] #194 closed

[2018-01-09 00:32] michaelaye opened #195 "Need a version that doesn't depend on hdf5_1.10.x"
Because of a bug in hdf5 1.10 (multiple parallel reads can fail), I need a version of gdal that does not hard-depend on hdf5 v1.10 but would work with hdf5 v1.8.x

Currently, importing gdal fails, after downgrading hdf5 while disregarding the dependencies (which I need to do, because the chain of dependencies leads back to a broken gdal regarding poppler versions):

[code]

Would that be possible,

[2018-01-23 22:12] abhilam opened #197 "Import gdal gives error anaconda"
I am trying to install gdal 2.2.2 on my anaconda. Eventhough it successfully installed but while importing as import gdal i am getting

ImportError:libpoppler.so.71: cannot open shared object file: No such file or directory.

Any help would be highly appreciated.

Thank you.
Abhi

[2018-01-24 17:57] ocefpaf commented on #197
Please read [this first](https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels).

Also, there is not enough information in your message to diagnose the issue. We need to know the platform and the commands you used to install `gdal`. Last but not least, latest version of `gdal` is `2.2.3`, and we do have LTS for `gdal 2.1.4`, but there is no support for `2.2.2`

[2018-01-24 17:57] #197 closed

[2018-01-24 20:06] abhilam opened #198 "GDAL 2.2.3 import error"
I am running Ubuntu 16.04 with anaconda spyder 3.2.6.
I am trying to install GDAL 2.2.3 using
python setup.py build
python setup.py install

terminal clearly said it is installed. but whenever i try to import gdal in spyder, i am getting error of

ImportError: /home/abhishes/anaconda2/lib/python2.7/site-packages/osgeo/../../../libgdal.so.20: undefined symbol: _ZN6kmldom15SerializePrettyB5cxx11ERKN

[2018-01-24 20:08] ocefpaf commented on #198
This feedstock provides a binary for `conda` you should not use this to install it from source.

[2018-01-24 20:08] #198 closed

[2018-01-24 20:14] abhilam commented on #198
Hi, thanks for your prompt response. could you please direct me how to use feedstock ?
Thank you

[2018-01-24 20:17] ocefpaf commented on #198
What are you trying to do? If you are a conda used and want to install `gdal` you need to:

[code]

if you want to rebuild it for conda than I suggest you stat by reading about conda-build and conda-forge docs.

[2018-01-24 20:19] abhilam commented on #198
I have tried as you suggested but doing so, this is the error I am getting.

ImportError:libkea.so.1.4: cannot open shared object file: No such file or directory

Thank you.

[2018-01-24 20:28] ocefpaf commented on #198
Please read https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels

Here is a minimal example that should work there:

[code]

[2018-01-24 20:49] abhilam commented on #198
HI,
Thank you so much, your workaround solution creating environment worked.
Now it could be a stupid question to ask but having newer in python, could you please suggest how to activate this environment in spyder python GUI.

Thanks

[2018-02-12 21:29] broxtopd opened #199 "Bit Length Overflow debug Messages"
Hi,

I have installed gdal with python2.7 and python 3.4 in Anaconda.  I have noticed that anytime I am working with compressed files using gdal, I get a whole bunch of debug messages (see below) which don't seem to affect the behavior, other than taking a while to print to screen and making it difficult to track progress.  These messages occur whether I am using the utility programs (e.g. gdal_tr

[2018-02-14 00:12] gillins commented on #199
Just need to check: are you using conda-forge `gdal` or Anaconda `gdal`? Can you post a link to one of the problem files?

[2018-02-14 18:50] broxtopd commented on #199
Hi,

I believe that I am using Anaconda gdal.  Specifically, the package info
that I am currently looking at is (using the 'conda list' command):
gdal                      2.1.0                    py34_0
The only package that seems to match (using 'conda info gdal') is:
gdal 2.1.0 py34_0
-----------------
file name   : gdal-2.1.0-py34_0.tar.bz2
name        : gdal
version     : 2.1.0
build number:

[2018-02-15 05:49] gillins commented on #199
This is the repository for the `conda-forge` `gdal` package. Report problems with the Anaconda packages here: https://github.com/ContinuumIO/anaconda-recipes.

BTW I tested your file with `conda-forge` `gdal` on Windows and it doesn't print the messages - so you may want to start using `conda-forge` as an interim (or permanent 😄) solution.

[2018-02-15 05:49] #199 closed

[2018-02-24 13:28] akrherz opened #200 "gdal utils report .../bin/../lib/libuuid.so.1: no version information available (required by .../bin/../lib/libdapserver.so.7)"
Sorry that I am likely filing this issue in the wrong place, but my current conda-forge environment is emitting this warning whenever I run gdal utils
[code]
My root env is currently up2date with `conda update --all`, but I do notice some packages are old, for example `libdap4 == 3.18.3 2  conda-forge`.  If I attempt to update `libdap4`, I get
[code]

So perhaps the libdap4 build needs bumped or m

[2018-02-24 13:54] ocefpaf commented on #200
Nope, here is fine.

In my experience installing packages in the `root` env and using `update --all` is a recipe for disaster. It looks like you got a bad mix of `defaults` and `conda-forge` there. Please take a look at https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels and try installing things in a fresh env.

[2018-02-25 22:20] Lupin76 opened #201 "gdal ImportError with libkea undefined symbol"
I get this error message when I try to import gdal in Spyder installed via Anaconda.

`ImportError: /home/giacomo/anaconda2/lib/python2.7/site-packages/osgeo/../../.././libkea.so.1.4: undefined symbol: _ZN2H56H5FileC1ERKSsjRKNS_17FileCreatPropListERKNS_15FileAccPropListE`

You can find in attach what comes out from TEST, conda list and conda info.

[code]
[code]

I installed it just today thus I'm

[2018-02-26 04:03] akrherz commented on #200
Hi @ocefpaf , your support here is amazing.  Thank you.  Indeed, the follow emits no warnings
[code]
Yeah, I gotta move away from the `root` env.

[2018-02-26 07:13] kmuehlbauer commented on #201
@Lupin76 You are using gdal within conda root-env. This is not recommended. See also [this comment](https://github.com/conda-forge/gdal-feedstock/issues/200#issuecomment-368229956).

[2018-02-26 11:03] Lupin76 commented on #201
Hi
thank you very much for your help.
As I told you I'm brand new with anaconda.
Moving from root-env means uninstall and re-install anaconda again?

Thank you again

[2018-02-26 11:06] ocefpaf commented on #201
No need to re-install. Please take a look at

https://conda.io/docs/user-guide/tasks/manage-environments.html

to learn more about conda environments and

https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels

to understand more about the issue of mixing conda channels.

[2018-02-26 11:06] #201 closed

[2018-02-26 11:08] Lupin76 commented on #201
Ok. You are really very helpful.

Thank you very much

[2018-02-26 11:14] Lupin76 commented on #201
Just the last question.

Before creating a new environment and installing GDAL in, do I have to uninstall GDAL from the root-env?
How to do it?

Thank you

[2018-02-26 11:16] ocefpaf commented on #201
How to do it?

It should not affect the new environment, but it is not working... So that is your call.

[2018-02-26 11:19] Lupin76 commented on #201
Ok. Thank you again

[2018-02-28 20:36] akrherz commented on #200
Eh, maybe there is an issue afoot here, I attempted to create my full install env as `prod` and am now reproducing this issue again.  Of note
[code]
if `libuuid.so.1` is pointing to `libuuid.so.1.3.0`, things are OK.  At some point during my env install, that link got updated.  Any thoughts?

[2018-03-01 03:09] akrherz commented on #200
investigating some more
[code]
So I just manually updated the sym link for now to point at `libuuid.so.1.3.0`, think I should raise an issue with libuuid ?

[2018-03-01 14:52] ocefpaf commented on #200
Please do. I'll take a closer look a this soon.

Also, please xref the with this issue.

[2018-03-02 02:50] #200 closed

[2018-03-18 20:26] jakirkham commented on #200
FYI `util-linux` in `defaults` is just a build of `libuuid` with nothing else and hasn't been actively maintained AFAICT (first and last build was last year). The best plan is probably to switch over to our `libuuid`, which is maintained. Other than our `libuuid` being newer, it is a drop in replacement for `defaults` copy of `util-linux`. This should hopefully avoid file collisions, which likely

[2018-05-14 14:15] rvvincelli commented on #111
On:
`Darwin modoetia.local 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64`

with:
`conda 4.3.21`

I managed to get `gdal` installed with:
`conda install gdal`
`conda install krb5`

by specifying that `.condarc` override above.

[2018-05-22 17:30] djhoese opened #205 "Library not loaded on OSX"
I was debugging an issue with gdal on a travis OSX environment (fresh install using astropy's ci-helpers to install conda) because I was getting the error:

[code]

See the travis job here: https://travis-ci.org/pytroll/satpy/jobs/382234814

When I tried to reproduce it on my existing conda environment on my local machine by doing `conda update gdal` I got a different error loading a library:

[co

[2018-05-22 17:33] djhoese commented on #205
Forgot to say `python -c "import gdal"` to test it.

Was just able to fix my environment by updating curl to 7.59.0-1.

[2018-05-22 17:50] djhoese commented on #205
Fixed in the above mentioned commit for my travis work by adding "krb5" to the list of dependencies. Another thing to add to the recipe dependencies?

[2018-05-22 17:52] ocefpaf commented on #205
The "right" fix is the move to `conda-build 3` so the dependencies are actually consistent. You should not get a `curl` without `krb5` just b/c the conda solver is trying to wiggle its way out of a dependency that brings more dependencies :unamused:

The move to `conda-build 3` is happening and hopefully you can drop that workaround soon.

Closing for now b/c we cannot act on this at the moment an

[2018-05-22 17:52] #205 closed

[2018-05-28 11:49] DennisScuba commented on #201
Hello,
I'm new to Python and have basically the same problem only with liblibkea:

[code]

I tried to create a new environment like the following description:
http://www.gmtpython.xyz/install.html#installing-gmt-and-other-dependencies

But sadly it still doesn't work.

The output of the `conda list` is the following:

[code]

Does someone has an idea?
Thank you very much in advance!

[2018-05-28 13:28] ocefpaf commented on #201
Please read https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels first!

You are getting `gdal` from conda-forge and `libgdal` from `defaults`. That won't work! You will need to put the `conda-forge` on top of `defaults` in your `.condarc` and install things in an isolated env. I cannot say anything about the instructions your are following (I would ask there), but this wo

[2018-05-29 11:05] DennisScuba commented on #201
Thank you very much! I could solve the problem.

[2018-06-15 15:51] Juanlu001 commented on #195
I think this should be reported in libgdal instead: https://github.com/conda-forge/libgdal-feedstock/blob/b929c5b59cecac01d667513958808880d175294d/recipe/meta.yaml#L38

[2018-06-15 16:29] ocefpaf commented on #195
We cannot handle personal requests that put a strain on our volunteers maintainers.
I would gladly review a PR that creates a variant with another `hdf5` though.

[2018-06-15 16:29] #195 closed

[2018-06-28 23:04] maxogden opened #207 "[request] update to gdal 2.3"
would be great to get an update to version 2.3.0 released last month :) thanks

[2018-06-28 23:11] ocefpaf commented on #207
See https://github.com/conda-forge/gdal-feedstock/pull/206

[2018-06-28 23:11] #207 closed

[2018-06-29 14:34] djhoese opened #209 "GDAL linking error with HDF5"
I haven't noticed anything updated on conda-forge's side recently that would cause this, but I'm going to put it here assuming it can be solved by the related parties. The related travis job is here: https://travis-ci.org/pytroll/satpy/jobs/398260457

And the relevant error:

[code]

I'll keep reviewing the installed packages to see if there is some defaults versus conda-forge channel issue.

[2018-06-29 14:38] ocefpaf commented on #209
Everything that relies on `gdal` is broken at the moment b/c of the bump in the `hdf5` pin. I'm trying to rebuild the stack from the bottom up to fix this but if you can force a new `hdf5 1.10.2` there you can workaround it, if not you'll need to wait :-(

[2018-06-29 14:42] djhoese commented on #209
Thanks for the info. Any idea how long it will take for all of the builds to catch up? End of the USA business day? This weekend? By SciPy :wink: ?

[2018-06-29 14:45] ocefpaf commented on #209
Aiming for the weekend and hopefully not by SciPy :stuck_out_tongue_winking_eye:

[2018-06-29 14:53] djhoese commented on #209
Is there a certain package I can watch build to know when this is complete...if I'm impatient enough?

[2018-06-29 21:08] snowman2 commented on #209
Everything worked for me with the pin `kealib=1.4.7`.

[2018-06-29 21:43] ocefpaf commented on #209
It should. That version was not built with `hdf5 1.10.2`.

[2018-07-01 02:01] djhoese commented on #209
My tests seem to be passing now. Thanks @ocefpaf.

[2018-07-01 02:01] #209 closed

[2018-07-03 14:31] michaelaye opened #210 "GDAL 2.2.4 import fails"
This happens in an environment (on macOS 10.12.6) that is created purely from conda-forge, with pinned packages of gdal and numpy to conda-forge, to ensure, against the "feature" catastrophe of conda, that all packages come from `conda-forge`:
[code]

[code]
[code]
`conda info`:
[code]

[2018-07-03 15:18] michaelaye commented on #210
my conda env was corrupt, don't know how. sorry for the noise.

[2018-07-03 15:18] #210 closed

[2018-07-05 16:28] mrterry opened #212 "libgdal marked as "broken" on anaconda.org"
Yesterday a whole bunch of libgdal builds were marked as "broken" on anaconda.org. This broke a whole bunch of environments that where otherwise fine. Was this an intentional change?

Historically libgdal has had problems where it does not entirely specify its dependencies, resulting in linker errors when the exact right versions of hdf5/kealib/etc aren't found.  Should I expect libgdal to be on t

[2018-07-05 16:33] ocefpaf commented on #212
I recommend you to make a looser pin for `libgdal` b/c every time we rebuild it with new dependencies the old build number is no longer reliable. (Unfortunately `conda` does not always get the latest build number, forcing us to move them to "broken.")

I use `libgdal 2.2.*` everywhere and things work fine. Note that, even though we have `libgdal 2.3.1` we are not building `rasterio` and `fiona` wi

[2018-07-05 16:33] #212 closed

[2018-07-05 16:43] mrterry commented on #212
Am I understanding you correctly in that you're clobbering build numbers?  That makes it very difficult to have reproducible environments.

[2018-07-05 16:45] ocefpaf commented on #212
Not at all. We move them to the `broken` label exactly to ensure reproducibility when it is needed. What I said is that, for user envs we recommend the use of a looser pin, like `libgdal 2.2.*`, and let `conda` find the right dependencies for you.

[2018-07-05 17:01] mrterry commented on #212
My apologies for all the questions. I appreciate the wok of conda-forge and its maintainers. I'm just trying to figure out things work so that I'm not fighting you in my day job.

 How does adding the `broken` label ensure reproducibility? Builds labeled as `broken` are invisible to conda (at least on mac), which makes previously working env files turn into `UnsatisfiableError`s. (You can add the

[2018-07-05 17:13] ocefpaf commented on #212
You'll need to specifically ask for those b/c, as the label says, they are not ensure to work unless you know what you are doing. Again, see my recommendation above to get the correct set of dependencies.

If you really need an old build note that a `label` behaves like a channel in `conda` and you can get a package from there in many ways, one is:

[code]

Again, you should pin to a minor version

[2018-07-24 14:31] emthompson-usgs opened #213 "GDAL import error"
Issue:
The following import fails in linux:
[code]
It took a while to identify this as the problem because it does not occur in OSX (same version of gdal), which is what I use for development. It originally showed up as a segmentation fault on Travis CI with pytest. I can provide that info if it would be helpful. The same unit tests with the same install scripts were passing on Travis yesterday.

[2018-07-24 15:32] ocefpaf commented on #213
I see a mixture of packages from `defaults` and `conda-forge` there. Please take a look at https://conda-forge.org/docs/conda-forge_gotchas.html

To confirm that everything works you can try:

[code]

[2018-07-24 15:32] #213 closed

[2018-07-24 15:33] ocefpaf commented on #180
`krb5` seems to be pulled correctly the latest versions. Please let me know if you still see this issue.

[2018-07-24 15:33] #180 closed

[2018-07-24 15:34] ocefpaf commented on #183
Closing this as stale. I'm happy to re-open and work on a test if someone can provide a simple `jp2` file for the test.

[2018-07-24 15:34] #183 closed

[2018-07-25 16:53] emthompson-usgs opened #215 "Are gdal and pytables incompatible?"
Issue:
Hi @ocefpaf, thanks for the info and help with #213. I've been trying to resolve this issue by restricting to only conda forge channels but conda seems to reach out to defaults anyway. I think I narrowed it down to a problem with the interacting dependencies of gdal and pytables. Since it looks like you are also a maintainer of both packages I thought you would potentially be able to help.

[2018-07-25 16:57] ocefpaf commented on #215
They are not incompatible but we are facing some issues at the moment. I'm re-build packages and hopefully this will be sorted out by the end of the day.

[2018-07-25 23:40] samfranklin opened #216 "libgdal error on import gdal with rsgislib"
Issue:

Hi. I'm getting a libgdal error when trying to use gdal after installing the package `rsgislib`. I've seen a similar type issue before and suspect it's due to a mix of channels between `conda-forge` and `defaults`.

The short version is that I think what is happening is when I install `rsgislib`. I think this package requires gdal `2.2.2` which is not currently in conda-forge. Therefore ge

[2018-07-26 01:40] gillins commented on #216
I think we need to rebuild `rsgislib` against `libgdal` 2.3.x, but we can't currently due to `cgal` not being pinned to the same `boost` as everything else... (see https://github.com/conda-forge/rsgislib-feedstock/pull/13 and https://github.com/conda-forge/spdlib-feedstock/pull/1#issuecomment-407864876)

[2018-07-26 10:05] ocefpaf commented on #216
There is a problem with `gdal 2.2.x` that I'm fixing and should probably have an effect here.

Regarding `gdal 2.3.x`, we are held back by `fiona` and `rasterio`, as long as those do not work with the 2.3.x series we cannot update the global pinning. However, if you don't care about `rsgislib` getting installed alongside `fiona` and `rasterio` you can override the global pinning and move to `gdal

[2018-07-26 11:13] samfranklin commented on #216
Hi @ocefpaf and @gillins - thanks so much for coming back. Much appreciated.

You're right. I'm not bothered about getting `rasterio` and `fiona` working within the same environment. However, I do want to use the `arcsi` package though. I stepped back and just tried to get rsgislib and gdal working in the same environment. I understand `arcsi` is closely related to `rsgislib`.

I just tried to fol

[2018-07-26 18:56] jacobadams-cc opened #217 "Are jpeg12 and ECW support possible?"
Issue:

Is there any possibility of including jpeg12 and ECW-read support in the conda-forge gdal feedstock? I've looked in the issue tracker and haven't seen either of these mentioned previously.

I'm running into issues with a jpeg-compeessed tiff from ArcGIS that is set to nbits=12, which seems to indicate conda-forge's gdal doesn't have jpeg12 support enabled as outlined in [https://trac.osgeo

[2018-07-26 19:47] ocefpaf commented on #215
This should be fixed now that `pytables` was rebuild. Please let me know if that is working for you.

[2018-07-26 19:47] #215 closed

[2018-07-26 21:46] emthompson-usgs commented on #215
Yes, it works now. Thanks!

[2018-07-27 07:17] jordanarseno commented on #216
I'm having similar issues as @samfranklin.

In addition to this, similar reports are being posted in the [rsgislib google groups support channel](https://groups.google.com/forum/#!topic/rsgislib-support/1ixzTz7Ji_w).

My goal is simple. To use `rsgislib` on Ubuntu 16.04, specifically `rsgislib`'s [image registration module](https://www.rsgislib.org/rsgislib_imageregistration.html).

Following the

[2018-07-27 07:35] danclewley commented on #216
As one of the `rsgislib` maintainers I have seen that there are problems with `rsgislib` and that it needs to be rebuilt, I just haven't got round to resolving them yet. If someone else wants to look at that would be great.

@ocefpaf do you want to close this as it isn't a problem with`gdal`.

[2018-07-27 08:42] samfranklin commented on #216
@danclewley Hey Dan. Absolutely no issue with your timescales. I fully appreciate that you're likely maintaining rsgislib in your own time around other work, so thank you for doing that for the benefit of users. Sadly, I don't think I have the technical skill to help resolve this, sorry about that !

I'm new to using arcsi/rsgislib, so I wasn't sure of the best way to report the issue. I thought i

[2018-07-27 14:39] djhoese opened #218 "ImportError missing libkea.so"
Issue:

Travis jobs for Python 3.6 linux have started failing due to libkea.so missing. Here is the exact importerror line in travis: https://travis-ci.org/pytroll/satpy/jobs/408953121#L4316

That error being:
[code]

<br/>
Environment (<code>conda list</code>):
<details>

The relevant parts from travis output:

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda in

[2018-07-27 15:08] ocefpaf commented on #218
We are getting tons of packages from defaults due to https://github.com/conda-forge/libgdal-feedstock/issues/56#issuecomment-408214844

I'm rebuilding `qt`'s stack and that should help with the packages that are coming from defaults there and fix this, but it will take a while...

[2018-07-27 20:13] jacobadams-cc commented on #217
I'll take a stab at a PR; I've identified the relevant statements in the libgdal meta/build files.

Being new to conda development, do I need to test changes locally via conda build before submitting a PR, or is that what the conda-forge CI tools are intended to do? I can set up a windows build environment without that much headache, but osx and linux will take a while longer.

[2018-07-27 20:15] ocefpaf commented on #217
You don't have to do it but it is easier to fix errors that way.

OS X is usually harder but Linux you can use our docker image, even from Windows:

https://conda-forge.org/docs/testing.html#docker-tests

[2018-07-28 20:21] ocefpaf commented on #218
The new `qt` is on the channel and this should be fixed.
Can you try again and let me know if you are still experiencing this issue?

[2018-07-28 20:21] #218 closed

[2018-07-29 11:48] djhoese commented on #218
@ocefpaf I restarted the referenced travis job and it passes. Thanks.

[2018-07-29 11:50] ocefpaf commented on #218
:tada:

[2018-07-30 13:29] Aztorius opened #219 "ImportError DLL load failed only on Windows + GDAL >= 2.2 + Python 3.6"
Issue:
After creating a fresh dedicated environment for GDAL 2.3 with Python 3.6, osgeo import is not working (only on Windows).
Downgrading to GDAL 2.1 + Python 3.6 works (using conda-forge with label broken).
Downgrading to GDAL 2.3 + Python 2.7 works.
But GDAL>=2.2 + Python 3.6 doesn't work on Windows (but works on Linux).

To reproduce (only on Windows) :
[code]
Same error as #175

I tried rei

[2018-07-30 13:35] ocefpaf commented on #219
@gillins I don't have access to a Windows machine at the moment but my guess is that, based on the number of packages coming from `defaults` there, we either have an unsolvable env and something needs to be rebuild, or conda is not respecting channel preference and is returning a broken env.

I really wish that channel preference would always be respect, that would make debugging issues like these

[2018-07-31 07:43] gillins commented on #219
@ocefpaf I can reproduce this, but have no idea where to start debugging. Any suggestions? It is very strange it prefers not to use conda-forge `numpy`. I'll try and have a proper look tomorrow.

[2018-07-31 12:07] ocefpaf commented on #219
Yeah, that sucks. I have to add `conda-forge::numpy` everywhere to get `conda-forge`'s numpy instead of `defaults`. (Ping @kalefranz, this is another pain point on how channel preference works.)

The way I debugged this was to force all packages from `conda-forge`, see if the situation is unsolvable in that scenario, and update the packages that need to be re-built with the new pinning.

One guess

[2018-07-31 13:56] kalefranz commented on #219
Just released (to canary yesterday, defaults Wednesday) conda 4.5.9 that includes
https://github.com/conda/conda/pull/7601 for testing. Open to switching the default value of that config feature switch in either 4.6.0 or a later 4.5, based on community input.

We also need to get our metadata patching coordinated for both vc and blas. Both the PR and metadarapatching are independent solutions that

[2018-07-31 14:08] ocefpaf commented on #219
conda/conda#7601 for testing. Open to switching the default value of that config feature switch in either 4.6.0 or a later 4.5, based on community input.

Thanks! I'll try to test them soon and get back to you.

As someone that does not know conda internals how hard would it be to solve from the preferred channel only, and then get the packages that do not exists on the preferred channel from the

[2018-07-31 17:01] jacobadams-cc commented on #219
FWIW, I'm getting a similar behavior when trying to run the gdal command line tools after updating a year-old setup—a system error stating "libtiff.dll was not found" pops up.

When building a pure clone of the libgdal feedstock from source, the test script loads everything from conda-forge, with vc at version 14-0 and vs2015_runtime at 14.0.25420-0. However, `conda install --use-local libgdal` in

[2018-08-01 00:32] gillins commented on #219
If I force `numpy` from `conda-forge` then everything else gets pulled in from `conda-forge` also. I can't work out why `defaults` `numpy` would be preferred given that is an earlier version (1.14.3 vs 1.15.0)....

I hadn't seen that issue with `libnetcdf` - I'll have a look when I get a moment, but I don't think this is the problem here.

[2018-08-02 03:55] gillins commented on #219
I note that the same problem (pulling in `defaults` `numpy`) currently also happens on Linux (but not the import error).

[2018-08-06 02:56] gboeing commented on #219
@ocefpaf I believe this is the root cause of https://github.com/conda-forge/fiona-feedstock/issues/89

[2018-08-06 03:14] gboeing commented on #219
Running:

[code]

resulted in a broken environment and the same error the others have described above. But running:

[code]

resulted in a working environment and solved this error. Seems to be a channel-mixing problem with defaults sneaking in, unless explicitly overridden. FWIW here's my conda info:

[code]

[2018-08-06 10:07] ocefpaf commented on #219
Ping @kalefranz and @msarahan these are getting more and more common. A solvable env with `conda-forge` on top is not enough to avoid pulling packages from `defaults` and resulting in a broken env :-(

I did not get the time to test https://github.com/conda-forge/gdal-feedstock/issues/219#issuecomment-409229800 yet. As soon as I do I'll report back here. (Hard to get my hands on a Windows machine

[2018-08-07 23:02] MorningGlory747 commented on #219
Hello, I'm having a similar issue on my Windows 10 in the way that I also receive the ImportError DLL when trying to import GDAL from either Spyder 3.3.0 (from Anaconda 5.1.0) or Pycharm 2018.2 (which uses conda as the interpreter).

However, I can get GDAL to work from the Anaconda prompt when doing:
activate GDAL
python

I must note that when I installed GDAL from conda-forge and also everytime

[2018-08-10 09:53] hans-permana commented on #219
I have observed the same issue and figured out that the culprit is the `vs2015_runtime`. gdal (and subsequently fiona) seems to require dll files  that are available on v14.x but not on v15.x.

The workaround is to downgrade your vs2015_runtime to v14.x by running this command `conda install -c conda-forge vs2015_runtime=14`.

A long term solution would be to include a requirement to vs2015_runtim

[2018-08-10 21:48] djhoese opened #220 "libkea.so not found"
My jobs on travis seem to be failing because gdal can't find libkea.so. I feel like this happened a couple weeks ago with rasterio or something.

https://travis-ci.org/pytroll/satpy/jobs/414703708#L4245

Let me know if you need more info.

P.S. Looks like PIL is broken on Windows too (https://ci.appveyor.com/project/pytroll/satpy/build/1.0.456/job/sgxf3x3xpey5k38g#L367).

[2018-08-11 14:27] ocefpaf commented on #220
This s related to https://github.com/conda/conda/issues/7626

[code]

There is a bad mix of packages there, you are getting `libgdal` from `defaults`.
This is happening so often lately and it is quite hard to debug :-(

Ping @msarahan for awareness. Here is where the "strict" channel preference would really help.

[2018-08-11 21:04] djhoese commented on #220
@ocefpaf Is there anything I can do to fix this? This is with a brand new environment on a brand new (technically) virtual machine. If I add the conda-forge channel and install some packages it is pretty messed up that I can't get a working environment and it is all conda's fault (my understanding).

We've talked before about old environments sometimes needing to be reset (deleted and recreated) a

[2018-08-11 22:15] msarahan commented on #220
I don't think an old conda version will help.  The problem at the heart of this matter is the state of the index metadata.  We're moving towards something better, but we're in a very painful transition state.  We're working hard to figure out if there is an intermediate short-term solution.  Sorry for the trouble in the meantime.

[2018-08-14 22:05] ocefpaf commented on #220
@djhoese legend has that if we can get 50 :+1: on this issue,

https://github.com/conda/conda/issues/7656

we can get it prioritize on the conda's devs list :wink:

[2018-08-15 00:29] leouieda commented on #220
I'm having the same issue on the GMT package. Have you tried adding gdal's dependencies explicitly to your environment?

[2018-08-15 01:16] djhoese commented on #220
@leouieda I tried forcing the kealib dependency and I had previously had krb5 from another time gdal was a pain. Final working solution (workaround) was to remove the defaults channel (see #7626).

@ocefpaf I'll spread the word.

[2018-08-15 11:48] ocefpaf commented on #220
Yep. Now that we are shipping the compilers runtimes, the only thing we did not have in `conda-forge`, that is the preferred solution. (The other way around is OK too, remove `conda-forge` and use only `defaults` if you don't need anything from `conda-forge`.)

Thanks! The more :+1: we get there higher are the changes of them prioritizing it.

[2018-08-17 20:49] explorerr opened #221 "import error: libncurses.so.6: cannot open shared object file: No such file or directory"
Issue:
I got an error at import: libncurses.so.6: cannot open shared object file: No such file or directory

[code]
<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2018-08-20 00:35] ocefpaf commented on #221
I see a number of packages from `defaults` in your env. Please take a look at https://conda-forge.org/docs/conda-forge_gotchas.html#using-multiple-channels to see if you can reduce that with the instructions there, if not please add you :+1: [on this issue](https://github.com/conda/conda/issues/7656) to get that fixed in `conda`.

There is nothing we can do here b/c it is not a problem with the pa

[2018-08-20 00:35] #221 closed

[2018-08-20 14:10] explorerr commented on #221
Thanks for the information, which does helped me solve the problem. By installing ncurses from conda-forge solved the problem.

Thanks!

Rui

[2018-08-20 16:43] ocefpaf commented on #221
Glad it is solved. Once https://github.com/conda/conda/issues/7656 is addressed we won't need this workaround.

[2018-08-27 04:29] kevalshah90 commented on #217
I am experiencing incompatibility issues with jpeg installing gdal library. I have tried pip and conda forge installations seperately for both the libraries, however, it seems like there is no jpeg support.

![screen shot 2018-08-26 at 21 25 02](https://user-images.githubusercontent.com/4792353/44640528-0848ef00-a977-11e8-8308-c9535395e2cf.png)

[2018-08-27 12:38] ocefpaf commented on #217
You are probably hitting this conda issue: https://github.com/conda/conda/issues/7656

Try to remove `defaults` from your configuration and you can at least debug the output rather than having a broken environment.

[2018-08-28 23:09] kevalshah90 commented on #111
Having trouble with gdal library installation on conda environment. Compatibility problems with libgdal.

Here are a few things I have attempted so far with no success:

Created a new environment and installed gdal from conda forge channel.
Attempted to downgrade jpeg package for compatibility test.
Removed defaults

![screen shot 2018-08-28 at 15 50 10](https://user-images.githubusercontent.com/4

[2018-08-28 23:12] ocefpaf commented on #111
@kevalshah90 I did not get the `conda list` in https://github.com/geopandas/geopandas/issues/237#issuecomment-416769479, can you post it here? Also, I had some odd experiences with the Anaconda distro where, even after removing the `defaults` channel it would still be present. I recommend you to try `miniconda` instead.

[2018-08-28 23:13] kevalshah90 commented on #111
Here you go -

kevalshah$ conda list
# packages in environment at /Users/kevalshah/anaconda3/envs/exe:
#
# Name                    Version                   Build  Channel
appnope                   0.1.0                    py36_0    conda-forge
backcall                  0.1.0                      py_0    conda-forge
boost-cpp                 1.67.0               h3a22d5f_0    conda-forge
bzip2

[2018-08-28 23:18] ocefpaf commented on #111
All the packages without `conda-forge` at the end are coming from `defaults` :-(

[2018-08-29 06:17] jorisvandenbossche commented on #111
But in principle, numpy shouldn't be a problem ...

[2018-08-29 06:37] kmuehlbauer commented on #111
@jorisvandenbossche @kevalshah90

Consider this:

[code]

This will break things in the way you are experiencing

So I got used to add `numpy` to the `conda install` command. In this case:

[code]
This will keep numpy in good shape. This works also with other packages (eg. scipy). HTH

[2018-08-29 17:56] kevalshah90 commented on #111
@kmuehlbauer @jorisvandenbossche @ocefpaf Adding _numpy_  to _conda_ install worked for me!

[2018-08-29 20:17] ocefpaf commented on #111
Glad it worked and I'm sorry for the confusion, hopefully once https://github.com/conda/conda/issues/7656 is fixed this kind of issue will go away for good.

[2018-09-05 16:01] aborruso commented on #221
I have solved adding `python=3.6` in environment.yml https://github.com/conda-forge/geopandas-feedstock/issues/44#issuecomment-418733330

[2018-09-11 13:45] claasg opened #223 "gdal=2.3.1 PackagesNotFoundError"
**Issue**: latest version (2.3.1) correctly shown by <code>conda search gdal -c conda-forge</code>:
[code]
But it is *not available*  for installation (<code>conda create -c conda-forge -n GDALTEST python=3.6 gdal=2.3.1</code>):
[code]
Similarly, specifying the build version does not help (<code>conda create -c conda-forge -n GDALTEST python=3.6 gdal=2.3.1=py36hb00a9d7_0</code>):
[code]

<br/>
Env

[2018-09-11 13:49] ocefpaf commented on #223
The package `libgdal==2.3.1=ha6e4b24_0` was removed due to bad pinning and we need to rebuild `gdal 2.3.1` with the new ones.

I'm waiting on #222 to rebuild 2.3.1, it may take a while...

[2018-09-11 14:01] claasg commented on #223
Thank you @ocefpaf for your prompt response. My co-workers and I hope #222 and #223 will be resolved soon. Your support is highly appreciated.

[2018-09-12 16:10] garbagemule commented on #223
Another victim of PackagesNotFoundError with GDAL 2.3.1 reporting in 👋

I'm brand new to the conda world, and this issue really caught me off guard. Does this kind of thing with bad pinning happen often? Is there any way to avoid this kind of issue in the future (besides burning a working configuration into a Docker image or something similar)? I was under the impression that once a build was "up"

[2018-09-12 17:07] ocefpaf commented on #223
Nothing much besides wait for https://github.com/conda-forge/gdal-feedstock/pull/225 to finish.

[2018-09-13 12:07] #223 closed

[2018-09-13 12:08] ocefpaf commented on #220
@djhoese I'm closing this b/c besides the rebuilds and the workaround to use only a single channel we cannot do much here. Hopefully with the new `conda` and `strict` channel preference things will be more stable.

[2018-09-13 12:08] #220 closed

[2018-09-13 12:58] djhoese commented on #220
Sounds good. Thanks for your help.

[2018-09-18 22:26] four43 opened #226 "Miniconda3 base & libcurses.so.6 link issue"
Issue:

The latest version of minconda3 (dockerized version) seemed to break gdal, specifically gdal_translate with this message:

gdal_translate: error while loading shared libraries: libncurses.so.6: cannot open shared object file: No such file or directory

I tried with gdal 2.2.4 as well and the same message appeared. I'm guessing Conda changed something around on you guys, but thought I would

[2018-09-18 23:16] four43 commented on #226
Ah I see it now:

^ From `conda info`. That's from the default channel, not the conda-forge one. It doesn't have the "conda-forge" at the end.

Fix steps:
  `conda install -y conda-forge ncurses`

Ref https://anaconda.org/conda-forge/ncurses

[2018-09-18 23:16] #226 closed

[2018-09-19 18:55] WeatherGod commented on #83
@ocefpaf A little bit of a clarification is needed, as I just ran into this problem as I was setting up an automated CI for a package of mine that uses gdal. It isn't that conda doesn't execute the activation part of any software in the root environment -- it does (or at least, it does now). The issue is that the activation isn't performed as part of the *install*. I was trying to figure out why I

[2018-09-19 19:08] ocefpaf commented on #83
Cool. I knew that was in the works but did not know it already landed.

Yep. I actually made that mistake a few times in the past and failed to document it properly. I believe conda can "re-activate" an env in case you are installing more packages and testing things interactively. Although for a CI it makes sense to just flip it like you did. Thanks!

[2018-09-20 12:11] cpaulik opened #227 "JPEG2000 support broken"
It seems that the latest gdal does not support jpeg2000 correctly.

I get errors like:

[code]

Downgrading like this:

[code]
fixes the problem. But build `2.3.1-py27hb00a9d7_0` is no longer available from `anaconda.org` so that does not help my colleagues.

There are some strange things here:

Running

[code]
does not list `openjpeg` but it seems to be linked correctly:

[code]

The test environ

[2018-09-20 12:19] cpaulik commented on #227
Running

[code]

also fixes the problem. So the problem might be in libgdal

[2018-09-26 20:32] yinlu opened #230 "the latest gdal-2.3.1 is incompatible with the library libxml2.2.dylib ."
Issue:
I installed the latest gdal and libxml2, I got the following error:

gdalinfo:

dyld: Library not loaded: /usr/local/opt/libxml2/lib/libxml2.2.dylib
  Referenced from: /usr/local/bin/gdalinfo
  Reason: Incompatible library version: gdalinfo requires version 12.0.0 or later, but libxml2.2.dylib provides version 10.0.0
Abort trap: 6

 I couldn't find older version might work with libxml2 vers

[2018-09-26 20:34] yinlu commented on #230
I am using Mac Book Pro with OS 10.13.6.

[2018-09-26 20:41] yinlu commented on #230
when I tried to install gdal==2.2.2, I got this error:

Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/3y/74lzbj5110lg75zd2vvpvpx40000gn/T/pip-install-IzwvZl/gdal/

[2018-09-26 22:02] gillins commented on #230
It looks like you are installing `gdal` via `pip` which is likely to fail due to different libraries. What happens if you just use conda-forge?:
[code]

[2018-09-27 12:33] ocefpaf commented on #227
@cpaulik in #228 @gillins detected the reason and also found out that our tests are not running properly. In #229 I believe I ported the fix from @gillins, can you check it again?

We'll keep working on #228 to re-enable the tests.

[2018-09-27 12:33] #227 closed

[2018-10-27 14:37] rsignell-usgs commented on #221
I just ran into this problem and  the only packages from defaults I have are:
[code]
I thought to try installing ncurses, but then decided against:
[code]

[2018-10-27 15:30] mingwandroid commented on #221
Mixing defaults and conda-forge is currently not recommended. They are not binary compatible. We're working to improve that though.

[2018-11-02 15:28] hobu opened #233 "openssl 1.1 unsatisfiable dependency for GDAL"
Attempting to install openssl=1.1 with GDAL 2.3.2 installed results in:
[code]

I am working to create an Entwine recipe https://github.com/conda-forge/staged-recipes/pull/6134 but it requires OpenSSL 1.1+. Entwine depends on PDAL, which in turn depends on GDAL.

Is this a real hard dependency or a matter of simply regenerating?

Sorry I'm a bit of a Conda newbie to be able to more fully describe

[2018-11-02 17:40] ocefpaf commented on #233
The global pinning is `openssl 1.0.2`, see https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml#L437-L438

If you want to bump the stack to modern `openssl` please send a PR to

https://github.com/conda-forge/conda-forge-pinning-feedstock

updating the `conda_build_config.yaml` file.

[2018-11-02 17:40] #233 closed

[2018-11-02 18:07] hobu commented on #233
Yep, that's a non-starter. We'll find a way. Thanks.

[2018-11-07 00:57] coolum001 opened #234 "GDAL 2.2.3 / 2.2.4 differences in processing tags 42112, 42113 (2.2.4 fails)"
Issue:

Hi

Sorry in advance if this is the wrong issue list: (and thanks in advance for your time):

To set the stage:

I have two Anaconda environments, both with cartopy and geopandas installed.

One environment (root36) is for Python 3.6, and the other (ac3-5-0-py37) is for Python 3.7.

The ac3-5-0-py37 environment has
[code]

The root36 environment has

[code]
The Australian Govt has made ava

[2018-11-07 01:49] mingwandroid commented on #234
Can you test this with gdal from Anaconda Defaults just to help narrow down this issue?

[2018-11-07 06:09] kmuehlbauer commented on #234
@coolum001 Can you create an environment consisting only of conda-forge packages? Just to rule out any channel clashes.

[2018-11-07 14:36] mingwandroid commented on #234
Ah sorry it seems we don't have this old build for Windows 64, oddly we do for Windows 32!

[2018-11-07 14:41] ocefpaf commented on #234
Closing this b/c it is not a problem with this feedstock.

[2018-11-07 14:41] #234 closed

[2018-11-08 22:04] jentjr opened #235 "gdal not recognizing geoPDF"
Issue:

I installed gdal on windows from the conda-forge channel, which says it has support for geoPDF, but gdalinfo does not recognize the file.

[code]

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2018-11-08 23:02] gillins commented on #235
Linux and OSX have support for pdf via `poppler`. Unfortunately `poppler` isn't available for Windows on conda-forge currently, although it should be possible to build it (seems `glib` is now available under Windows - this was missing last time I looked).

The other alternatives for the PDF driver in GDAL are `PoDoFo` and `PDFium` which aren't available on conda-forge.

Feel free to submit a PR fo

[2018-11-09 14:45] jentjr commented on #235
Okay, thanks. I'll see what I can do.

[2018-11-11 13:17] shaunstoltz commented on #221
ImportError: libncurses.so.6: cannot open shared object file: No such file or directory

[2018-11-11 16:02] hobu opened #236 "PDAL depending on GDAL 2.3+"
Sorry if this is not the correct place for this issue.

I'm having a lot of trouble getting the PDAL recipe to pin to conda-forge libgdal 2.3.x. It only ever picks up GDAL 1.11.2-1 from base. When I issue smithy rerender, no dependency items for libgdal are emitted to the .ci_support output despite libgdal being listed in the PDAL meta.yml https://github.com/conda-forge/pdal-feedstock/blob/master/

[2018-11-11 21:31] gillins commented on #236
Seems ok to me (https://travis-ci.org/conda-forge/pdal-feedstock/jobs/453602215#L487). Where are you seeing it get 1.11.2?

[2018-11-11 21:45] chambbj commented on #236
I believe the problem is that while it builds as expected, users pulling
into a fresh conda environment are getting the unexpected gdal version.

On Sun, Nov 11, 2018, 3:31 PM Sam Gillingham <notifications@github.com>
wrote:

[2018-11-12 06:09] kmuehlbauer commented on #236
@chambbj How did they create the fresh environment?

[2018-11-12 07:17] kmuehlbauer commented on #236
For which python version?

In a pure `conda-forge` setup (no `defaults` in channel list) I get with:

[code]

[code]

For Python 2.7 this is similar, For Python 3.7 there is `postgresql` blocking.

It might depend on the channels you have in your conda setup and which other packages you have inside.

[2018-11-12 12:33] chambbj commented on #236
@kmuehlbauer I don't recall if @hobu had documented this elsewhere, but I think this problem is specific to Windows.

On Windows, when running the command

[code]

I get

[code]

To answer your question about Python, it's 3.6. You'll also notice libgdal 1.11.2 sneaking it's way in.

[2018-11-12 13:49] ocefpaf commented on #236
That is a bad mix of `defaults` and `conda-forge` there. If you can afford to remove `defaults` entirely (not always an option on Windows b/c `conda-forge` does not have `scipy`) than this would either be solved or at least we could know what packages may be the culprit in causing that.

[2018-11-12 13:59] chambbj commented on #236
@ocefpaf Thanks for the suggestion. I just removed `defaults` from my .condarc file and tried again. Unfortunately, I see no change. What output can I provide to help troubleshoot the offending package? Here is the list of packages it is trying to install without `defaults` (I think identical to the original list).

[code]

And from `conda info`:

[code]

[2018-11-12 14:01] ocefpaf commented on #236
You are still getting packages from `defaults` there, so unless there are multiple `.condarc`s and you did not get the right one I believe should file an issue upstream with `conda`.

[2018-11-12 14:06] kmuehlbauer commented on #236
@chambbj Seems that I can pull a `conda-forge` only env (even with defaults channel in `.condarc`)  by issuing:

[code]

[2018-11-12 14:30] kmuehlbauer commented on #236
Yes, this is a hack! IMHO it seems, that `numpy` gets channel precedence for `default` even if a fitting version is available in `conda-forge`. And this has serveral side-effects, as pulling in also other dependencies from `default`. But @ocefpaf might know better.

[2018-11-12 14:33] hobu commented on #236
Ah, so if we were to pin `numpy` to the version that exists in the `conda-forge` `libgdal`, we would get the expected behavior?

[2018-11-12 14:33] ocefpaf commented on #236
Yep. "Forcing" conda's had by adding more package to the solver in one go helps. But that is a hack IMO b/c there should be no preference for a package from `defaults` if you explicitly remove it. Thanks for opening an issue upstream.

[2018-11-14 12:05] mrpgraae commented on #217
@jacobadams-cc Are you still working on this, I am also in the need of ECW support.

[2018-11-27 22:55] scollis opened #238 "Possible packing issue in python 2.7"
Issue:
Build done incorrectly (possibly) for GDAL against numpy-devel
<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

See https://github.com/OSGeo/gdal/issues/1120

[2018-11-28 06:50] kmuehlbauer commented on #238
@scollis See my comment https://github.com/ARM-DOE/pyart/pull/787#issuecomment-442337807. This is most likely not a `conda-forge` issue, since numpy is pulled from `defaults` channel with an rather old version (1.11.3). Unfortunately I can't see the complete conda list of that `testenv` to figure out the provenience of `gdal`.

AFAIK `conda-forge` dropped creation of new Python2.7 packages and is

[2018-11-28 06:50] #238 closed

[2018-11-28 11:46] ocefpaf commented on #238
In your env list above your `gdal` is from `defaults` so this is likely a bad mix of packages. If you can afford to use only `conda-forge`, which most non-Windows users can, I'd recommend you to do that. If you are on Windows or need a package from `defaults` try to use only `defaults`, if you are on Windows and need package from both channels.... Sorry, no solution for it yet.